<div class="chat">
  <div class="members-list-container">
    <div class="search-container">
      <input class="search-input" type="text" placeholder="{{'chat_placeholder_list_of'|translate}}" />
      <i class="fa fa-search"></i>
    </div>
    <div class="tabs">
      <div class="tab select" (click)="onClickTab($event.target)">{{'chat_tab_all_messages'|translate}}</div>
      <div class="tab" (click)="onClickTab($event.target)">{{'chat_tab_unread'|translate}}</div>
      <div class="tab" (click)="onClickTab($event.target)">{{'chat_tab_important'|translate}}</div>
    </div>
    <div class="chat-members-container">
        <ng-scrollbar shown="hover" invertY="true" compact="true">
            <ul class="chat-members">
              <li *ngFor="let member of ChatMembers; index as i" 
               (dblclick)="onDblClickSetMemberProfile(i)" (click)="onClickSetMemberProfile(i)">
                <div class="photo-com-container">
                  <img class="photo" src="{{member.photo}}">
                  <img class="com" src="{{member.com}}">
                </div>
                <div class="simple-info-container">
                  <div class="name-message-container">
                    <p class="name">{{member.name}}</p>
                    <p class="message"> send you a few files for works with</p>
                  </div>
                  <div class="time-container">
                    <p class="dot-line">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                    </p>
                    <p class="time">18.00pm</p>
                  </div>
                </div>
              </li>
            </ul>
          </ng-scrollbar>
    </div>
  </div>
  <div class="user-info-container">
    <div class="member-photo-container">
      <img class="photo" src="{{SelectedMember.photo}}">
      <img class="com" src="{{SelectedMember.com}}">
      <p class="name">{{SelectedMember.name}}</p>
      <p class="location">{{SelectedMember.location}}</p>
    </div>
    <ul class="profile-item-list">
       <li class="item">
         <p class="item-title">{{'chat_position'|translate}}</p>
         <p class="item-content">{{SelectedMember.position}}</p>
       </li>
       <li class="item">
        <p class="item-title">{{'chat_Email'|translate}}</p>
        <p class="item-content">{{SelectedMember.email}}</p>
      </li>
      <li class="item">
        <p class="item-title">{{'chat_phone_number'|translate}}</p>
        <p class="item-content">{{SelectedMember.phone}}</p>
      </li>
      <li class="item">
        <p class="item-title">{{'chat_birth'|translate}}</p>
        <p class="item-content">{{SelectedMember.birth}}</p>
      </li>
      <li class="item">
        <p class="item-title">{{'chat_gender'|translate}}</p>
        <p class="item-content">{{SelectedMember.gender}}</p>
      </li>
      <li class="item">
        <p class="item-title">{{'chat_language'|translate}}</p>
        <p class="item-content">{{SelectedMember.language}}</p>
      </li>
    </ul>
    <a class="full-profile-link">{{'chat_show_full_profile'|translate}}</a>

    <i class="fa fa-chevron-left show-toggle" (click)="onHideProfile()"></i>
  </div>
  <div class="chatting-panel-container">
    <ng-scrollbar class="chatting-panel" shown="hover">  
        <div *ngIf="messages.length>0" >
             <div class="message-list" *ngFor="let message of messages" >          
                <div class="message-time">
                  <p class="message">{{message.content}}</p>
                  <p class="time">{{message.time}}</p>
                </div>
                <img  class="me" src="/assets/images/photo/toufic.png">           
             </div>
        </div> 
    </ng-scrollbar>
    <div class="message-sendbox">
      <mat-icon style="flex-grow: 0" class="attact-icon">attach_file</mat-icon>
       <input type="text" placeholder="{{'chat_placeholder_type_your_message'|translate}}" 
         class="message-window" style="flex-grow: 2;" 
         value="" (keypress)="onEnterKeyPressSendMessage($event)"/>
         <input type="hidden" placeholder="this is for pupping"/>
     <div class="send-icon" style="flex-grow: 0">
      <mat-icon>arrow_right_alt</mat-icon>
     </div>     
    </div>
  </div>
</div>