     
    @font-face { 
         font-family: 'galano_grotesque_alt_semi_bold'; 
         src : url("/Galano Grotesque Alt Semi Bold.otf");  
     }
     @font-face {
         font-family:'galano_grotesque_alt_extra_bold';
         src : url("/Galano Grotesque Alt Extra Bold.woff");
     }
     @font-face { 
         font-family: 'galano_grotesque_alt_regular'; 
         src: url("/Galano Grotesque Alt Bold.otf"); 
     }
     @font-face{
         font-family: 'galano_grotesque_alt_medium';
         src:url("/Galano Grotesque Alt Medium.woff");
     }
     @font-face{
         font-family: 'galano_grotesque_alt_bold';
         src: url("/Galano Grotesque Alt Bold.woff");
     } 

     @font-face{
        font-family: 'galano_grotesque_alt_light';
        src: url("/Galano Grotesque Alt Light.woff");
    } 


