<div class="find-jobs-by-location">
  <div class="content-1">
    <div class="title">{{'jobfindbylocation_page.title1'|translate}}</div>
    <div class="abstract-text">{{'jobfindbylocation_page.abstract_text'|translate}}</div>
    <div class="main-content">
      <div class="job-item-container" *ngFor="let job of sliceJobsByCountries">
        <div class="job-item">
          <div class="country-photo"><img [src]="job.country_photo"></div>
          <div class="country-name">{{job.country_name}}</div>
          <div class="count">{{job.count}} {{'jobsbyrole_page.jobs'|translate}}</div>
        </div>
      </div>
    </div>
    <div class="btn"><button class="large_rounded_btn" (click)="setAllJobsByCountries()">{{'button.viewthemall'|translate}}</button></div>
  </div>

  <div class="content-2">
    <div class="title">{{'jobfindbylocation_page.title2'|translate}}</div>
    <div class="job-by-location-container" *ngFor="let item of allJobsByLocations">
      <div class="side-container">
        <div class="flag">
          <img [src]="item.flag">
        </div>
        <div class="loca-info">
          <div class="country-name">{{item.country_name}}</div>
          <div class="total-count">{{item.total_count}}{{'jobfindbylocation_page.jobs'|translate}}</div>
        </div>
      </div>
      <div class="job-city-container">
        <div *ngFor="let city of item.cities" class="city-wrapper">
          <span>{{city.name}}</span>
          <span>({{city.count}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-3">    
      
        <div class="side-container">          
          <div class="loca-info">
            <div class="country-name">{{'jobfindbylocation_page.international'|translate}}</div>
            <div class="total-count">{{all_counts}}{{'jobfindbylocation_page.jobs'|translate}}</div>
          </div>
          <div class=""><button class="large_rounded_btn">{{'button.viewthemall'|translate}}</button></div>
        </div>
        <div class="job-per-country-container">
          <div *ngFor="let country of allJobsForInternational" class="city-wrapper">
            <span>{{country.name}}</span>
            <span>({{country.count}})</span>
          </div>
        </div>
      </div>
    
</div>