<div class="find-jobs-by-location container">
  <div class="content-1">
    <div class="title">{{'fjbl_title1'|translate}}</div>
    <div class="row">
        <div class="abstract-text col-md-9 offset-md-3">{{'fjbl_subject1'|translate}}</div>
    </div>
    
    <div class="main-content">
      <div class="job-item-container" *ngFor="let job of sliceJobsByCountries">
        <div class="job-item">
          <div class="country-photo"><img [src]="job.country_photo"></div>
          <div class="country-name">{{job.country_name}}</div>
          <div class="count">{{job.count}} {{'fjbr_script_jobs'|translate}}</div>
        </div>
      </div>
    </div>
    <div class="btn"><button class="large_rounded_btn" (click)="setAllJobsByCountries()">{{'btn_view_them_all'|translate}}</button></div>
  </div>

  <div class="content-2">
    <div class="title">{{'fjbl_title2'|translate}}</div>
    <div class="job-by-location-container" *ngFor="let item of allJobsByLocations">
      <div class="side-container">
        <div class="flag">
          <img [src]="item.flag">
        </div>
        <div class="loca-info">
          <div class="country-name">{{item.country_name}}</div>
          <div class="total-count">{{item.total_count}}{{'fjbl_script_jobs'|translate}}</div>
        </div>
      </div>
      <div class="job-city-container">
        <div class="city-wrapper">
            <div *ngFor="let city of item.cities" class="city">
                <span>{{city.name}}</span>
                <span>({{city.count}})</span>
              </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="content-3">    
      
        <div class="side-container">          
          <div class="loca-info">
            <div class="country-name">{{'fjbl_script_international'|translate}}</div>
            <div class="total-count">{{all_counts}}{{'fjbl_script_jobs'|translate}}</div>
          </div>
          <div class=""><button class="large_rounded_btn">{{'btn_view_them_all'|translate}}</button></div>
        </div>
        <div class="job-per-country-container">
          <div *ngFor="let country of allJobsForInternational" class="city-wrapper">
            <span>{{country.name}}</span>
            <span>({{country.count}})</span>
          </div>
        </div>
      </div>
    
</div>