<div class="company-profile">
   <div class="com-img">
      <img class="" src="/assets/images/company_profile/com_profile_photo.png">
   </div>
   <div class="company-profile container">
      <div class="company-profile-info">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3" style="text-align: center;">
               <div class="com-mark-container">
                  <img src="/assets/images/com_mark/google.png">
               </div>
               <div>
                  <button class="large_rounded_btn">{{'com_profile_button_see_all'|translate|uppercase}}</button>
               </div>
               <div class="icon-btn-container">
                  <div class="icon-btn">
                     <mat-icon svgIcon="export"></mat-icon>
                  </div>
                  <div class="icon-btn">
                     <mat-icon svgIcon="heart"></mat-icon>
                  </div>
                  <div class="icon-btn">
                     <mat-icon svgIcon="plane"></mat-icon>
                  </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 com-overview-conatainer">
               <div class="title">Google Inc</div>
               <table class="overview">
                  <tbody>
                     <tr>
                        <td>
                           <mat-icon svgIcon="location"></mat-icon>
                           {{'com_profile_info_headquarter'|translate}}
                        </td>
                        <td>Dubai,Shokh Zayed</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="com_type"></mat-icon>
                           {{'com_profile_info_company_size'|translate}}
                        </td>
                        <td>10001+employees</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="telephone"></mat-icon>
                           {{'com_profile_info_phone'|translate}}
                        </td>
                        <td>+966650-253-900</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="address_book"></mat-icon>
                           {{'com_profile_info_address'|translate}}
                        </td>
                        <td>1600 Amphitheatre Parkway Mountain View,CA 94043</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="business"></mat-icon>
                           {{'com_profile_info_industry'|translate}}
                        </td>
                        <td>Intranet</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="founded_house"></mat-icon>
                           {{'com_profile_info_founded'|translate}}
                        </td>
                        <td>1998</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="unlocked_key"></mat-icon>
                           {{'com_profile_info_type'|translate}}
                        </td>
                        <td>Public Company</td>
                     </tr>
                     <tr>
                        <td>
                           <mat-icon svgIcon="website"></mat-icon>
                           {{'com_profile_info_website'|translate}}
                        </td>
                        <td>http://www.google.com</td>
                     </tr>

                  </tbody>
               </table>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 company-video-tutorial-container">
               <p class="company-video">
                  <mat-icon svgIcon="video_play"></mat-icon>{{'com_profile_company_video'|translate}}
               </p>
               <div class="company-video-tutorial">
                  watch how we do it in Google from all sort teamwork, organisation, innovations, escalation and amny
                  more
               </div>
               <div class="video">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-3 divider"></div>
         </div>
      </div>

      <div class="about_us_container">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 about-us">
               {{'com_profile_about_us'|translate}}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 about-us-content">
               Google‘s mission is to organize the world's information and make it universally accessible and useful.
               Since our founding in 1998, Google has grown by leaps and bounds. From offering search in a single
               language
               we now offer dozens of products and services—including various forms of advertising and web applications
               for all kinds of tasks-in scores of languages. And starting from two computer science students in a
               university dorm room, we now have thousands of employees and offices around the world. A lot has changed
               since the first Google search engine appeared. But some things haven‘t changed: our dedication to our
               users and our belief in the possibilities of the Internet itself.
               <!-- <p class="specialities">{{'com_profile_specialities'}}</p>
               <div class="specialities-content">
                  search, ads. mobile, android. online. video, apps, machine learning, virtual reality
               </div> -->
            </div>

            <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-3 divider"></div>
         </div>
      </div>

      <div class="cultural_container">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 cultural-insights">
               {{'com_profile_cultural_insights'|translate}}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 " style="padding:0;">
               <div class="cultural-insights-content">
                  <div class="item">
                     <p>{{'com_profile_languages'|translate|uppercase}}</p>
                     <app-custom-donut-chart [outerRadius]="100" [innerRadius]="80" [width]="200" [height]="200" [data]="language_data"
                        [chartID]="'language'">
                     </app-custom-donut-chart>
                     <div class="label-container">
                        <div class="color-label" *ngFor="let data of language_data; index as i">
                           <div class="color-panel" [style.background-color]="data.color">
                           </div>
                           <span>{{data.value}}% {{data.label|uppercase}}</span>
                        </div>
                     </div>
                  </div>

                  <div class="item">
                     <p>{{'com_profile_cause_our'|translate|uppercase}}</p>
                     <app-custom-donut-chart [outerRadius]="100" [innerRadius]="80" [width]="200" [height]="200" [data]="cause_data"
                        [chartID]="'cause'">
                     </app-custom-donut-chart>
                     <div class="label-container">
                        <div class="color-label" *ngFor="let data of cause_data; index as i">
                           <div class="color-panel" [style.background-color]="data.color">
                           </div>
                           <span>{{data.value}}% {{data.label|uppercase}}</span>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-3 divider"></div>
         </div>
      </div>

      <div class="job-listing-container">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 job-listing">
               {{'com_profile_job_listing'|translate}}({{allCounts}})
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 " style="padding:0;">
               <div class="job-listing-content">

                  <div class="item-wrapper" *ngFor="let job of sliceJobsForView" routerLink="/jobOffer">
                     <div class="item-content">
                        <div class="item-side">
                           <mat-icon>play_circle_filled</mat-icon>
                           <div class="com-img-side">
                              <img class="" src="/assets/images/com_mark/google.png">
                           </div>
                        </div>
                        <div class="item-body">
                           <div class="career-time">
                              <span class="career">{{job.career}}</span>
                              <span class="time">{{job.time}}</span>
                           </div>
                           <div class="com-name">{{job.com_name}}</div>
                           <div class="com-content">{{job.content}}</div>
                           <div class="salary">
                              <mat-icon svgIcon="salary" class="svg-icon"></mat-icon><span>${{job.low_salary}} to
                                 ${{job.high_salary}}
                                 per annum</span>
                           </div>
                        </div>
                     </div>
                     <span class="ico-wrapper">
                        <mat-icon class="icon-export" svgIcon="export"></mat-icon>
                        <mat-icon class="icon-heart" svgIcon="heart"></mat-icon>
                     </span>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="other-com-container container">
      <div class="title">{{'com_profile_other_companies'|translate}}</div>
      <div class="other-com-list-container">
         <div class="job-item-container" *ngFor="let job of sliceJobsByCompanies">
            <div class="job-item" >
               <div class="com-mark"><img [src]="job.com_mark"></div>
               <div class="com-name">{{job.com_name}}</div>
               <div class="count"><span>{{job.count}} {{'com_profile_jobs'|translate|uppercase}}</span></div>
            </div>
         </div>
      </div>
      <div style="text-align:center;"><button class="large_rounded_btn" (click)="setAllJobsByCompanies()">{{'com_profile_view_them_all'|translate|uppercase}}</button></div>
   </div>
</div>