<div class="footer" [style.display]="footerShow? 'block':'none'">
  <div class="row content_1">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <div class="connect-item">
        <img src="../../assets/images/icon/telephone.png">
        <span class="span-text">+1 (617) 782 2000</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <div class="connect-item">
        <img src="../../assets/images/icon/weburl.png">
        <span class="span-text">mark@ultramls.com</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <div class="connect-item">
        <img src="../../assets/images/icon/phone.png">
        <span class="span-text">+1 (617) 245 0500</span>
      </div>
    </div>
  </div>
  
  <div class="row content_2">
    <div class="content_2_2">
      <div class="row">
        <div class="col-sm-12 col-md-8 ">
          <div class="content_2_2_1">
            <div class="title_in_footer">{{'fo_title_about_cardboard'|translate|uppercase}}</div>
            <div class="description_nysm">
              {{'fo_subject_cardboard_is_the'|translate}}
            </div>
          </div>
          <div class="content_2_2_2">
            <div class="title_in_footer">{{'fo_title_follow_cardboard'|translate|uppercase}}</div>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12  col-md-2"></div>
        <div class="col-sm-12 col-md-2 ">
          <div class="content_2_2_3">
            <div class="title_in_footer">{{'fo_title_cardboard'|translate|uppercase}}</div>
            <ul>
              <li><a routerLink="/aboutUs">{{'fo_menu_about_us'|translate}}</a></li>
              <li><a routerLink="/contactUs">{{'fo_menu_contact_us'|translate}}</a></li>
              <li><a href="#">{{'fo_menu_career'|translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="content_2_3">
      <ul>
        <li><a routerLink="/term" class="font_link">{{'fo_menu_terms_of_use'|translate}}</a></li>
        <li><a href="#" class="font_link">{{'fo_menu_security'|translate}}</a></li>
        <li><a href="#" class="font_link">{{'fo_menu_privacy'|translate}}</a></li>
      </ul>

      <div class="reserved_text">{{'fo_script_reverse'|translate}}</div>
    </div>
  </div>
</div>