<div class="job-title-widget">
  <div class="title">
    <img class="ico-title" src="../../../assets/images/icon/ico_1.png">
    <span class="text-title">{{'widget_job_titles'|translate}}</span>
    <span class="btn-title"  (click)="allDelete()">{{'widget_clear'|translate}}</span>
  </div>
  <div class="select-wrapper">
    <select (change)="onChange($event.target.value)" required class="selectbox">
      <option value="" disabled selected="selected">{{'in_job_title_company'|translate}}</option>
      <option *ngFor="let title of allJobTitles" [value]="title" class="job-title-widget-option">{{title}}</option>
    </select>
  </div>
  <div class="item-button-container" (onDelete)="destroyComponent($event)">
    <span #itemButtonContainer></span>
  </div>
</div>