<div class="search-result ">
  <div class="search-bar-control" (click)="toggleShowSearchBar()">
    <i class="fa  fa-chevron-right" #searchBarControl></i>
  </div>
  <div class="search-result-body ">
    <div class="search-bar" #searchBar>
      <div class="search-tab-container">
        <div class="search-tab" [ngClass]="{'tab-selected':is_show}" (click)="setShow(true)">{{'search_result_tab_search'|translate}}</div>
        <div class="search-tab" [ngClass]="{'tab-selected':!is_show}" (click)="setShow(false)">{{'search_result_tab_browse'|translate}}</div>
      </div>
      <form class="search-form" [style.display]="is_show?'block':'none'">
        <div class="subject-container">
          <span class="subject">{{'search_result_script_advanced_search'|translate}}</span>
          <span class="reset">{{'search_result_script_reset'|translate|uppercase}}</span>
        </div>
        <app-job-titles-select></app-job-titles-select>
        <app-locations-select></app-locations-select>
        <app-gender-select></app-gender-select>
        <app-language-select></app-language-select>
        <app-company-type-select></app-company-type-select>
        <app-salary-slider></app-salary-slider>
        <app-career></app-career>
        <app-employment-type></app-employment-type>
        <app-specialty></app-specialty>
        <app-industry></app-industry>
        <app-date-modified></app-date-modified>
        <div class="submit">
          <button class="large_rounded_btn">{{'btn_search'|translate}}</button>
        </div>

      </form>
      <form class="browse-form" [style.display]="!is_show?'block':'none'">
        <div class="subject-container">
          <span class="subject">{{'search_result_script_advanced_search'|translate}}</span>
          <span class="reset">{{'search_result_script_reset'|translate|uppercase}}</span>
        </div>
        <app-locations-select></app-locations-select>
        <app-job-role-browse></app-job-role-browse>
        <app-job-industry-browse></app-job-industry-browse>
        <app-area-browse></app-area-browse>
      </form>
    </div>
    <div class="job-result container">
      <div class="title">
        <span class="main-title">Designer Jobs In U.A.E</span>
        <span class="all-job-count">{{allCounts}} {{'search_result_script_jobs_found'|translate}}</span>
      </div>
      <div class="content-container">
        <div class="item-wrapper" *ngFor="let job of sliceJobsForView">
          <div class="item-content">
            <div class="item-side">
              <div><img src="{{job.com_mark}}"></div>
              <div>
                <button class="small_rounded_btn" routerLink="/jobOffer">
                  <mat-icon>play_arrow</mat-icon>
                  <span>{{'btn_watch_offer'|translate}}</span>
                </button>
              </div>
            </div>
            <div class="item-body">
              <div class="career-time">
                <span class="career">{{job.career}}</span>
                <span class="time">posted {{job.time}}</span>
              </div>
              <div class="com-name">{{job.com_name}}</div>
              <div class="com-content">{{job.content}}</div>
              <div class="location">
                <mat-icon svgIcon="location" class="svg-icon"></mat-icon><span>{{job.location}}</span>
              </div>
              <div class="com-type">
                <mat-icon svgIcon="com_type" class="svg-icon"></mat-icon><span>{{job.com_type}}</span>
              </div>
              <div class="salary">
                <mat-icon svgIcon="salary" class="svg-icon"></mat-icon><span>${{job.low_salary}} to
                  ${{job.high_salary}}
                  per annum</span>
              </div>
            </div>
          </div>
          <span class="ico-wrapper">
            <mat-icon class="icon-export" svgIcon="export"></mat-icon>
            <mat-icon class="icon-heart" svgIcon="heart"></mat-icon>
          </span>
        </div>

      </div>
      <div class="load-more">
        <button [style.display]="allJobs.length>18? 'table':'none'" class="large_rounded_btn">{{'btn_load_more'|translate}}</button>
      </div>
    </div>
  </div>
</div>