<div class="job-industry-browse-widget">
  <div class="title">
   <mat-icon class="svg-icon" svgIcon="title" ></mat-icon>
    <span class="text-title">{{'widget_job_industry'|translate}}</span>
    <span class="btn-title" (click)="toggleShow()" #showControl>-</span>
  </div>
  <div class="content-wrapper" [style.display]="is_show_wrapper?'block':'none'">
      <ul class="job-ul" >
        <li class="job-li" (click)="onBrowseByJobIndustry(item.role)" *ngFor="let item of sliceJobIndustriesForView">
          <span class="name">{{item.industry}}</span>
          <span class="count">{{'('+item.count+')'}}</span>
        </li>
      </ul>
      <div class="select-wrapper">
        <select (change)="onBrowseByJobIndustry($event.target.value)" required class="selectbox">
          <option value="" disabled selected="selected">{{'in_more'|translate}}</option>
          <option *ngFor="let item of sliceJobIndustriesForSelectbox" [value]="item.industry" class="job-title-widget-option">
            <span class="name">{{item.industry}}</span>
            <span class="count">{{'('+item.count+')'}}</span>
          </option>
        </select>
      </div>
  
    </div>
</div>