<div class="myvcv">
  <div class="container">
    <div class="row">
      <div class="col-mg-5 col-lg-3">
        <div class="myvcv-sidebar">
          <div class="user-photo-container">
            <app-circle-chart [percent]="70" [color]="'blue'"></app-circle-chart>
            <img class="photo" src="/assets/images/photo/toufic.png">
            <img class="plus" src="/assets/images/mark/plus.png">
          </div>
          <div class="divider"></div>
          <div class="social-btn-container">
            <div class="facebook">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="twitter">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="linkedin">
              <i class="fa fa-linkedin"></i>
            </div>
            <div class="plus-icon">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="divider"></div>
          <div class="watch-vcv">
            <div class="play-icon"><i class="fa fa-play"></i></div>
            <span>{{'myvcv_watch_vcv'|translate|uppercase}}</span>
          </div>
          <p class="resume-item-title">{{'myvcv_role_skills'|translate}}</p>
          <p class="resume-item-title">{{'myvcv_work_experience'|translate}}</p>
          <p class="resume-item-title">{{'myvcv_education'|translate}}</p>
          <div class="divider"></div>
          <p class="search-status">{{'myvcv_search_status'|translate}}</p>
          <div class="select-wrapper">
            <select required class="selectbox">
              <option value="active" class="search-status-widget-option">active</option>
              <option value="active" class="search-status-widget-option">deactive</option>
              <option value="active" class="search-status-widget-option">opened</option>
              <option value="active" class="search-status-widget-option">closed</option>
            </select>
          </div>
          <div class="divider"></div>
          <p class="export-page"> {{'myvcv_export_pages'|translate}}</p>
          <button class="small_rounded_btn">{{'myvcv_button_export'|translate}} </button>
        </div>
      </div>
      <div class="col-mg-7 col-lg-9 ">
        <div class="myvcv-body">
          <div class="person-resume-container">
            <div class="name-info-container">
              <div class="name-info">
                <p class="person-name">{{Resume.personal_info.name}}</p>
                <p class="person-role">{{Resume.skill.role}}</p>
                <table>
                  <tbody>
                    <tr>
                      <td>{{'myvcv_age'|translate}}</td>
                      <td>{{Resume.personal_info.age}} years</td>
                    </tr>
                    <tr>
                      <td>{{'myvcv_languages'|translate}}</td>
                      <td>{{Resume.personal_info.language}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="img-detail-container">
                <div class="job-count-container ">
                  <img src="/assets/images/myvcv/view.png">
                  <div class="explain">
                    <p class="count">2323</p>
                    <p class="script">{{'myvcv_job_views'|translate}}</p>
                  </div>
                </div>
                <div class="job-count-container ">
                  <img src="/assets/images/myvcv/applied.png">
                  <div class="explain">
                    <p class="count">128</p>
                    <p class="script">{{'myvcv_job_applied'|translate}}</p>
                  </div>
                </div>
                <div class="job-count-container ">
                  <img src="/assets/images/myvcv/saved.png">
                  <div class="explain">
                    <p class="count">22</p>
                    <p class="script">{{'myvcv_job_saved'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="personal-info-container">
              <p class="personal-info">{{'myvcv_personal_info'|translate}}</p>
              <table width="100%">
                <tbody>
                  <tr>
                    <td width="100px">{{'myvcv_mail'|translate}}</td>
                    <td width="40px">
                      <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                      </div>
                    </td>
                    <td>{{Resume.personal_info.mail}}</td>
                  </tr>
                  <tr>
                    <td>{{'myvcv_phone'|translate}}</td>
                    <td>
                      <div class="icon"> <i class="fa fa-phone"></i></div>
                    </td>
                    <td>{{Resume.personal_info.phone}}</td>
                  </tr>
                  <tr>
                    <td>{{'myvcv_location'|translate}}</td>
                    <td></td>
                    <td>{{Resume.personal_info.location}}</td>
                  </tr>
                  <tr>
                    <td>{{'myvcv_summary'|translate}}</td>
                    <td></td>
                    <td>{{Resume.personal_info.summary}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="divider"></div>
            <div class="myvcv-info-container">
              <div class="myvcv-container">
                <span>{{'myvcv_my_vcv'|translate}}</span>
                <div class="control-btn-container">
                  <div class="icon">
                    <mat-icon svgIcon="plane"></mat-icon>
                  </div>
                  <div class="icon">
                    <mat-icon svgIcon="export"></mat-icon>
                  </div>
                  <div class="icon heart">
                    <mat-icon svgIcon="heart"></mat-icon>
                  </div>
                </div>
              </div>
              <p class="vcv-script">At half-past eight the door opened, the policeman appeared, and,</p>
              <div class="myvcv-video-container"></div>
              <div class="myvcv-control-container">
                <div class="refresh-control-box">
                  <p class="update-date">
                    {{'myvcv_last_update'|translate}} &nbsp;
                    {{Resume.vcv.update_date}}
                  </p>
                  <p class="refresh-txt"><span>{{'myvcv_refresh_your_vcv'|translate}}</span></p>
                </div>
                <button class="large_rounded_btn">
                  <i class="fa fa-file-o"></i>
                  {{'myvcv_button_send_vcv'|translate|uppercase}}
                </button>
              </div>
            </div>
          </div>
          <div class="role-skill-container">
            <p class="role-skill">{{'myvcv_role_skills'|translate}}</p>
            <table width="100%">
              <tbody>
                <tr>
                  <td width="190px">{{'myvcv_role'|translate}}</td>
                  <td>{{Resume.skill.role}}</td>
                </tr>
                <tr>
                  <td>{{'myvcv_position'|translate}}</td>
                  <td>
                    <mat-chip-list>
                      <mat-chip *ngFor="let position of Resume.skill.positions" color="primary" selected>{{position|uppercase}}</mat-chip>
                    </mat-chip-list>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="padding-left:190px;">
              <div class="divider"></div>
            </div>
            <table width="100%">
              <tbody>
                <tr>
                  <td width="190px">{{'myvcv_skills'|translate}}</td>
                  <td>
                    <mat-chip-list>
                      <mat-chip *ngFor="let skill of Resume.skill.skills" color="primary" selected>{{skill|uppercase}}</mat-chip>
                    </mat-chip-list>
                  </td>
                </tr>
                <tr>
                  <td>{{'myvcv_job_location'|translate}}</td>
                  <td>{{Resume.skill.job_location}}</td>
                </tr>
                <tr>
                  <td>{{'myvcv_schedule_time'|translate}}</td>
                  <td>{{Resume.skill.schedule_time}}</td>
                </tr>
                <tr>
                  <td>{{'myvcv_employment_status'|translate}}</td>
                  <td>{{Resume.skill.employment_status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="work-experience-container">
            <p class="work-experience">{{'myvcv_work_experience'|translate}}</p>
            <table>
              <tbody width="100%;">
                <tr *ngFor="let experience of Resume.work_experience">
                  <td width="190px;">
                    <p>{{experience.start_date}} - {{experience.end_date}}</p>
                    <p>(4 years)</p>

                  </td>
                  <td>
                    <p class="title">{{experience.title}}</p>
                    <p class="com-name">{{experience.com_name}}</p>
                    <div class="portfolio">
                      <p class="portfolio-content">
                        {{experience.description}}
                      </p>
                      <div class="divider"></div>
                      <p class="com-url">
                        <mat-icon svgIcon="website"></mat-icon>
                        <span>{{experience.url}}</span>
                      </p>
                      <div class="portfolio-img-container">
                        <mat-icon svgIcon="image"></mat-icon>
                        <div class="img-list">
                          <img *ngFor="let image of experience.portfolio " [src]="image">
                        </div>
                      </div>
                      <i class="fa  fa-angle-up ctrl" (click)="onDisplaySet($event)" #ctrl></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="education-container">
            <p class="education">{{'myvcv_education'|translate}}</p>
            <table>
              <tbody width="100%;">
                <tr *ngFor="let education of Resume.educations">
                  <td width="190px;">
                    {{education.start_date}} - {{education.end_date}}
                  </td>
                  <td>
                    <p class="university">{{education.university}}</p>
                    <p class="degree">{{education.degree}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="resume-link-container">
            <p class="resume-link">{{'myvcv_resume_link'|translate}}</p>
            <table>
              <tbody width="100%;">
                <tr>
                  <td width="190px;">{{'myvcv_resume'|translate}}</td>
                  <td>
                    <div class="doc-img">
                      <img src="/assets/images/mark/pdf.png">
                      <p>{{Resume.resume.doc_name}}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="padding-left: 190px;">
              <div class="divider"></div>
            </div>
            <table>
              <tbody width="100%;">
                <tr *ngFor="let link of Resume.resume.links">
                  <td width="190px;">
                    {{link.name}}
                  </td>
                  <td>
                    {{link.url}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>