<div class="vcv-make">
  <app-status-bar [states]="state_list"></app-status-bar>
  <div class="video-edit-container">
    <div class="video-container">
      <div class="video-control-panel-left"></div>
      <div class="video-wrapper">
        <div class="video-display">
            <!-- <video #video class="video-display" controls playsinline ></video> -->
            <img src={{selectedImageUrl}} style="width:100%; height:100%"/>
        </div>
      </div>
      <div class="video-control-panel-right">
        <div class="control-container">
          <div style="margin-bottom: 30px;">
            <button class="text-btn" routerLink="/VCVMake/VCVVideoFx1"><img src="/assets/images/vcv_edit/text.png"></button>
          </div>
          <div style="margin-bottom: 30px;">
            <button  class="pencil-btn" routerLink="/VCVMake/VCVVideoFx2"><img src="/assets/images/vcv_edit/pencil.png"></button>
          </div>
          <div style="margin-bottom: 30px;">
            <button class="star-btn" routerLink="/VCVMake/VCVVideoFx3"><img src="/assets/images/vcv_edit/star.png"></button>
          </div>
          <div style="margin-bottom: 30px;">
            <button class="cut-btn" routerLink="/VCVMake/VCVVideoFx4"><img src="/assets/images/vcv_edit/cut.png"></button>
          </div>
          <div style="margin-bottom: 30px;">
            <button class="link-btn" routerLink="/VCVMake/VCVVideoFx5"><img src="/assets/images/vcv_edit/link.png"></button>
          </div>
          <div style="margin-bottom: 30px;">
            <button class="audio-btn" routerLink="/VCVMake/VCVVideoFx6"><img src="/assets/images/vcv_edit/audio.png"></button>
          </div>
        </div>
        <div class="flow-control-container">
          <button class="undo-btn"><img src="/assets/images/vcv_edit/undo.png"></button>
          <button class="redo-btn"><img src="/assets/images/vcv_edit/redo.png"></button>
        </div>
        <div class="play-container"> <button class="arrow-btn"><img src="/assets/images/vcv_edit/arrow_play.png"/></button></div>
       
      </div>
    </div>
  </div>
  <div class="video-render-panel">
      <ul class="captured-image-list">
        <li *ngFor="let c of captures; index as i;" (mouseover)="setImage(i)">
          <img src="{{c}}" height="50" />
        </li>
      </ul>
  </div>
</div>