<div class="country-select">    
  <div class="country-display">
    <img [src]="selected_country_flag" *ngIf="is_flag_show">
    <span>{{selected_country_name}}</span>
    <mat-icon (click)="toggleShowCountryList()" [style.display]="is_mat_icon_less_show? 'none':'table'">expand_more</mat-icon>
    <mat-icon (click)="toggleShowCountryList()" [style.display]="is_mat_icon_less_show? 'table':'none'">expand_less</mat-icon>
  </div>
  <div class="country-list-wrapper">
      <div class="country-list" [style.display]="is_country_list_show? 'block':'none'">
          <div *ngFor="let country of countries; index as i;" class="country-info">
            <img [src]="country.flag"  class="country-flag">
            <span>{{country.name}}</span>
            <div class="checkbox">
              <input class="styled-checkbox"  type="checkbox" (click)="setCountry(i)" value="" #checkbox>              
            </div>
          </div>
        </div>
  </div>
</div>