@import "../../../assets/fonts.scss";
.date-modified-widget{
    max-width:336px;
    display: block;
    padding:25px;
    border-radius: 15px;
    background-color: white;
    margin:10px auto;
    border: 1px solid #EEEFF4;
    .title{
         margin-bottom: 20px;        
        .text-title{
            font-size:14px;
            line-height: 16px;
            font-family: 'galano_grotesque_alt_bold';
            color:#273142;
        }
        .btn-title{
            font-size:14px;
            line-height: 17px;
            font-family: 'galano_grotesque_semi_bold';
            color:#8E9DC1;
            float:right;  
            margin-top:5px;    
            cursor:pointer;     
        }
    }
    
}