<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h2>User Profile</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">(C)board</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card social">
                    <div class="profile-header d-flex justify-content-between justify-content-center">
                        <div class="d-flex">
                            <div class="mr-3">
                                <img src="{{user.userPhoto || '../../../assets/images/profile_placeholder.png'}}"
                                    class="rounded" alt="">
                            </div>
                            <div class="details">
                                <h5 class="mb-0">{{user.fullName}}</h5>
                                <span class="text-light">{{user.occupation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="card">
                    <div class="header">
                        <h2 class="p-3">Info</h2>
                    </div>
                    <div class="body">
                        <small class="text-muted">Address: </small>
                        <p>{{user.address}}</p>
                        <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1923731.7533500232!2d-120.39098936853455!3d37.63767091877441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522391841133"
                                width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <small class="text-muted">Email address: </small>
                        <p>{{user.email}}</p>
                        <hr>
                        <small class="text-muted">Mobile: </small>
                        <p>{{user.phoneNumber}}</p>
                        <hr>
                        <small class="text-muted">Website: </small>
                        <p><i class="fa fa fa-globe  m-r-5"></i> {{user.website}}</p>
                        <small class="text-muted">Social: </small>
                        <p><i class="fa fa-facebook  m-r-5"></i> {{user.facebook}}</p>
                        <p><i class="fa fa-linkedin m-r-5"></i> {{user.linkedin}}</p>
                        <p><i class="fa fa-twitter m-r-5"></i> {{user.twitter}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h2 class="p-3">Basic Information</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                        value="{{user.firstName}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                        value="{{user.lastName}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email"
                                        value="{{user.email}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number"
                                        value="{{user.phoneNumber}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <select class="form-control" id="occupation">
                                        <option value="{{user.occupation}}">{{user.occupation || "-- Select Occupation --"}}</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Broker">Broker</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Association">Association</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="organization"
                                        placeholder="My Organization" value="{{user.organization}}">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea rows="4" type="text" class="form-control" id="street1"
                                        placeholder="Street" value="{{user.street1}}"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" placeholder="City"
                                        value="{{user.city}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="state" placeholder="State/Province"
                                        value="{{user.state}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="zip" placeholder="Zip"
                                        value="{{user.zip}}">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <select class="form-control" id="country">
                                        <option value="{{user.country}}">{{user.country || "-- Select Country --"}}</option>
                                        <option *ngFor="let country of countryList" value="{{country}}">{{country}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="website" placeholder="http://"
                                            value="{{user.website}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-facebook"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="facebook" placeholder="http://"
                                            value="{{user.facebook}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-linkedin"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="linkedin" placeholder="http://"
                                            value="{{user.linkedin}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-twitter"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="twitter" placeholder="http://"
                                            value="{{user.twitter}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-round btn-primary"
                            (click)="updateAccount()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>