<div class="vcvtuto_page">
  <div class="content">
    <div class="content_1">      
      <div class="title">{{'vcvtuto_page.title'|translate}}</div>
      <div class="sub-title">{{'vcvtuto_page.subtitle'|translate}}</div>
      <div class="description">{{'vcvtuto_page.description'|translate}}</div>
      <div>
        <button class="btn_1"><img src="../../../assets/images/icon/play1.png"> {{'button.getstart'|translate}}</button>
        <button class="btn_2">{{'button.skip'|translate}}</button>        
      </div>
      <div>
          <label class="container">{{'vcvtuto_page.script'|translate}}
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
          </label>  
      </div>
    </div>
  </div>
</div>
