<div class="vcvtuto_page">
  <div class="content container">
    <div class="row">
        <div class="content_1 col-md-6 offset-md-6 ">
            <div class="title">{{'vcvtuto_title'|translate|uppercase}}</div>
            <div class="sub-title">{{'vcvtuto_subject'|translate}}</div>
            <div class="description">{{'vcvtuto_script'|translate}}</div>
            <div style="margin-bottom: 20px;">
              <button class="btn_1"><img src="../../../assets/images/icon/play1.png"> {{'btn_get_started'|translate}}</button>
              <button class="btn_2">{{'btn_skip'|translate}}</button>
            </div>
            <div>
              <input class="styled-checkbox" id="checkbox-no-show-me" type="checkbox" value="">
              <label for="checkbox-no-show-me">{{'ch_general_do_not_show'|translate}}</label>
            </div>
          </div>
    </div>    
  </div>
</div>