<div class="signup">
  <div class="content">
    <div class="sign-up-header-container">
      <div class="title">{{'sign_up_title'|translate}}</div>
      <div class="subtitle">
        <span class="subtitle-script">{{'sign_up_subject'|translate}}</span>
        <a><span class="subtitle-sign-up">{{'sign_up_log_in'|translate}}</span></a>
      </div>
    </div>
    <div class="sign-up-container">
      <div class="sign-up-input-container">
        <div class="title">{{'sign_up_personal_info'|translate|uppercase}}</div>
        <div class="input-box">
          <input type="text" placeholder="{{'sign_up_placeholder_first_name'|translate}}" class="input-style">
          <input type="text" placeholder="{{'sign_up_placeholder_last_name'|translate}}" class="input-style">        
          <input type="text" placeholder="{{'sign_up_placeholder_email'|translate}}" class="input-style">
          <input type="password" placeholder="{{'sign_up_placeholder_password'|translate}}" class="input-style">
        </div>
      </div>
      <hr>
      <div class="sign-up-input-container">
        <div class="title">{{'sign_up_industry'|translate|uppercase}}</div>
        <div class="input-box">
          <input type="text" placeholder="{{'sign_up_placeholder_industry'|translate}}" class="input-style">        
          <input type="text" placeholder="{{'sign_up_placeholder_job_title'|translate}}" class="input-style">
        </div>
        <div class="sign-up-button-box">
          <button routerLink="/emailconfirm">{{'sign_up_button_sign_up'| translate}}</button>
        </div>
      </div>        
    </div>
    <div class="script">
      {{'sign_up_script_by_clicking_sign'|translate}}
    </div>
  </div>
</div>