<div class="signup">
  <div class="content container">
    <div class="content_1">
      <div class="title">{{'sign_up_title'|translate}}</div>
      <div class="subtitle">{{'sign_up_subject'|translate}}</div>
    </div>
    <Form class="content_2">
      <div class="content_2_1">
        <div class="title">{{'sign_up_script_personal_info'|translate}}</div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <Input type="text" placeholder="{{'in_first_name'|translate}}" class="input-style">
            <Input type="text" placeholder="{{'in_last_name'|translate}}" class="input-style">
          </div>
          <div class="col-sm-12 col-md-6">
            <Input type="text" placeholder="{{'in_email'|translate}}" class="input-style">
            <Input type="password" placeholder="{{'in_password'|translate}}" class="input-style">
          </div>
        </div>
      </div>
      <hr>
      <div class="content_2_2">
        <div class="title">{{'sign_up_script_industry'|translate}}</div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <Input type="text" placeholder="{{'in_industry'|translate}}" class="input-style">
          </div>
          <div class="col-sm-12 col-md-6">
            <Input type="text" placeholder="{{'in_job_title'|translate}}" class="input-style">
          </div>
        </div>
        <div class="content_2_2_3">
          <div class="row">
            <div class="col-sm-12 col-md-9">             
              <input class="styled-checkbox" id ="checkbox-signup" type="checkbox" value="" >
              <label for="checkbox-signup">{{'ch_general_make_my_profile'|translate}}</label>
            </div>
            <div class="col-sm-12 col-md-3">
              <button routerLink="/emailconfirm">{{'btn_sign_up'| translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="content_2_3">
        <div class="row ">
          <div class="col-sm-12 col-md-7 content_2_3_1"><span>{{'sign_up_script_or_sign_up'|translate}}</span></div>
          <div class="col-sm-12 col-md-5 content_2_3_2">
            <button><i class="fa fa-linkedin" style="margin-right:10px;"></i>{{'btn_linkedin'|translate}}</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="content_2_4">
        {{'sign_up_script_by_clicking_sign'|translate}}
      </div>
    </Form>
  </div>
</div>