<div class="header1">
  <div class="headerbody" #header1>
    <div class="headerbody-left">
      <ul class="main-menu-section">
        <li class="nav-item ">
          <a routerLink="/">
            <img src="../../../assets/images/logo.png" />
          </a>
        </li>
      </ul>
    </div>

    <div class="headerbody-right">
      <ul class="log-menu-section">
        <li class="nav-item"><a class="font_menu" routerLink="/">{{'he_menu_home'|translate}}</a></li>
        <li class="nav-item"><a class="font_menu" routerLink="/aboutUs">{{'he_menu_about'|translate}}</a></li>
        <li class="nav-item"><a class="font_menu" routerLink="/">{{'he_menu_features'|translate}}</a></li>
        <li class="nav-item"><a class="font_menu" routerLink="/">{{'he_menu_pricing'|translate}}</a></li>
        <li class="nav-item"><a class="font_menu" routerLink="/">{{'he_menu_team'|translate}}</a></li>
        <li *ngIf="!getLogStatus()" class="nav-item" (click)="signIn()"><a
            class="font_menu">{{'he_menu_signin'|translate}}</a></li>
        <li *ngIf="getLogStatus()" class="nav-item" (click)="signout()"><a
            class="font_menu">{{'he_menu_signout'|translate}}</a></li>
      </ul>
    </div>
  </div>

  <i class="fa fa-bars nav_toggle_btn" (click)="toggleHeaderMenu()"></i>
</div>