<div class="term">
  <div class="container">
    <img class="nysm-bg" src="/assets/images/about_us/nysm_bg_1.png">
    <div class="row" style="margin-bottom: 70px;">
      <div class="col-md-5 title">
        {{'term_terms_conditions'|translate}}
      </div>
      <div class="col-md-7 subject">
        Supporting you to be the best 
        recruiting professional you can be, day in and day out.
      </div>
    </div>
    <div class="row content">
      <div class="col-md-5">
        This Terms of Service agreement
        (this “Agreement”) is made and
        entered into by and between you,
        as a User (as defined below), and
        NYSM Pte Ltd, a company doing business
        as NYSM, and its subsidiaries and
        affiliates (collectively, “NYSM”).
        This Agreement contains the terms
        and conditions that govern the use
        of NYSM’s all-in-one HR platform
        (the “Platform”). NYSM directly,
        and through its website (https://www.NYSM.com)
        and the associated domains thereof (the “Site”),
        offers customers the products and services
        listed at https://www.NYSM.com/pricing
        (as such list may be updated, modified,
        or otherwise changed from time to time,
        collectively, the “Services”).
      </div>
      <div class="col-md-7 ">
        This Agreement is applicable to all
        persons who use or access the
        Platform and/or the Services, in their
        company’s capacity or in an individual
        capacity, including authorized users
        representing the company, its employees,
        or other persons using or accessing
        the Services (collectively, “Users”
        and each, a “User”). If User is agreeing
        to these terms on behalf of a business or
        an individual other than User, User
        represents and warrants that User has
        authority to bind that business or other
        individual to this Agreement, and User’s
        agreement to these terms will be treated
        as the agreement of such business or
        individual. In that event, “User” also
        refers to that business or individual. By
        clicking the applicable button to indicate
        User’s acceptance of this Agreement, or by
        accessing or using the Platform, User agrees,
        effective as of the date of such action,
        to be bound by the Agreement.
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5">
        1- Service Plan and Add-on Service
        NYSM’s provision of any Service is
        subject to the terms of this Agreement
        and any supplemental terms referenced
        herein or which NYSM may present
        User with for review and acceptance
        at the time User subscribes to such
        Service (each, “Service Terms”), and
        any Service Terms shall be incorporated
        into and form a part of this
        Agreement. If the terms hereof conflict
        with any Service Terms, the Service
        Terms will govern with respect to
        the matters contemplated thereby.

        In order to receive any Service, User
        must be enrolled in one of the following
        plans (each, a “Service Plan”),
        which coincides with User’s Plan Selection
        (as defined below) or Service Plan
        access by (i) clicking the
        applicable button to indicate User’s
        Service Plan choice (the “Plan Selection”);
        (ii) clicking the applicable
        button to indicate User’s acceptance
        of this Agreement (in the event that
        User is already enrolled in a Service
        Plan); or (iii) accessing or using the
        Services. By taking any of the aforementioned
        actions, User agrees to be
        bound by the applicable Service
        Terms as of the time that such action occurs.

        Standard: HRIS Service

        Pro: HRIS Service and Payroll Service

        If User chooses to subscribe to one or more
        of the following add-on services,
        then User agrees to be bound by
        the Service Terms of such add-on service(s):

        Add-on Service: Employee Benefits Service

        NYSM’s provision of any Service is contingent
        upon User being actively enrolled in the HRIS Service.
      </div>
      <div class="col-md-7 ">
        2-Services Fees and Charges
        User agrees to pay the fees for the Services in accordance with the applicable fee schedules listed at
        https://www.NYSM.com/pricing, and User authorizes NYSM to debit User’s designated bank account, as specified by
        User through the Platform (the “Bank Account”), for all fees as they become payable. Unless otherwise stated in
        the applicable Service Terms, fees for the Services are typically based on the calendar month or year in which
        User is enrolled in any Services (so, for example, if User is enrolled in a Pro Plan for a given calendar
        month, User would be charged for such month even if User does not run payroll in such month), and such fees are
        applied in full for a given calendar month, regardless of whether User is only enrolled in the Services for a
        portion of such month. Except for certain fees for particular add-on services that User has opted into, fees
        for the Services will be billed to User and debited from User’s Bank Account on a monthly calendar basis, in
        arrears. Notwithstanding the foregoing, NYSM may invoice User for any applicable, outstanding fees, and User
        shall pay such invoice within thirty (30) days of receipt thereof via money transfer, check, or any other
        payment method NYSM may deem acceptable in its sole discretion. All fees are non-refundable. User agrees to
        reimburse NYSM for any sales, use, and similar taxes arising from the provision of the Services that any
        federal, state, or local governments may impose. NYSM may charge additional fees for exceptions processing,
        setup, and other special services (including optional add-on services).

        NYSM reserves the right to change the fees for its Services from time to time. User will be notified of any
        change to existing fees at least thirty (30) days before the fee change goes into effect. If a fee increase or
        change to this Agreement is not acceptable to User, User may cancel the Services as provided herein prior to
        the time when such fee increase or change to this Agreement takes effect. User’s continued use of the Services
        beyond the cancellation window constitutes User’s agreement to those changes. If NYSM is unable to collect fees
        due because of insufficient funds in User’s Bank Account or for any other reason, User must pay the amount due
        immediately upon demand, plus any applicable exceptions processing fees, bank fees, or charges for return
        items, plus interest at the lesser of 18% per annum or the maximum rate permitted by law, plus attorneys’ fees
        and other costs of collection as permitted by law.
      </div>
    </div>
  </div>
</div>