<div class="vcv-make">
    <app-status-bar [states]="state_list"></app-status-bar>
    <div class="video-edit-container">
      <div class="video-container">
        <div class="video-control-panel-left">
          <button class="back-btn"  routerLink="/VCVMake/VCVVideoEdit"><img src="/assets/images/vcv_edit/back.png"></button>
        </div>
        <div class="video-wrapper">
          <div class="video-display">
          </div>
        </div>
        <div class="video-control-panel-right">
          <div class="control-container">
            <div style="margin-bottom: 30px;"><button class="circle-text-btn"><img src="/assets/images/vcv_edit/circle_text.png"></button></div>
            <div style="margin-bottom: 30px;"><button  class="text-align-btn"><img src="/assets/images/vcv_edit/text_align.png"></button></div>           
          </div>
          <div class="flow-control-container">
            <button class="undo-btn"><img src="/assets/images/vcv_edit/undo.png"></button>
            <button class="redo-btn"><img src="/assets/images/vcv_edit/redo.png"></button>
          </div>
          <div class="done"> <button class="done-btn">{{'vcv_edit_done'|translate}}</button></div>
         
        </div>
      </div>
    </div>
    <div class="video-render-panel">
  
    </div>
  </div>