<nav class="navbar top-navbar" style="float: right;">
    <div class="container-fluid">
        <div class="navbar-left">
            <div class="navbar-btn">
                <a href="#"><img src="../../../assets/images/logo.png" alt="(C)board Logo" class="img-fluid logo"></a>
                <button type="button" class="btn-toggle-offcanvas" style="cursor: pointer;"><i
                        class="lnr lnr-menu fa fa-bars"></i></button>
            </div>
        </div>

        <div class="navbar-right">
            <div id="navbar-menu">
                <ul class="nav navbar-nav" style="flex-direction: row;">
                    <li>
                        <a class="icon-menu" title="Get the App">GET THE APP</a>
                    </li>
                    <li>
                        <a class="search_toggle icon-menu" title="Search Result"><i class="fa fa-search"></i></a>
                    </li>
                    <li>
                        <a class="right_toggle icon-menu" title="Messages"><i class="fa fa-comments-o"></i><span
                                class="notification-dot bg-pink">2</span></a>
                    </li>
                    <li><a class="icon-menu sign-out" title="Sign Out" (click)="signout()">
                            <i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</nav>

<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        <a href="#"><img src="../../../assets/images/logo_pure.png" alt="(C)board Logo"
                class="img-fluid logo"><span>(C)board</span></a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                class="lnr lnr-menu icon-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="user_div">
                <img src="../../../assets/images/profile_placeholder.png" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="" class="dropdown-toggle user-name" data-toggle="dropdown"><strong></strong></a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY" style="right: auto !important;">
                    <!-- <li><a routerLink="/profile"><i class="fa fa-users"></i>Profile</a></li> -->
                    <li><a>GET THE APP</a></li>
                    <li><a><i class="fa fa-comments-o"></i>Messages</a></li>
                    <li><a><i class="fa fa-question-circle"></i>Q&As</a></li>
                    <li class="divider"></li>
                    <li (click)="signout()" style="cursor: pointer;"><a><i class="fa fa-sign-out"></i><span>Sign
                                out</span></a></li>
                </ul>
            </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <!-- <li class="header">Main</li> -->
                <li><a routerLink="/items"><i class="fa fa-cubes"></i><span>Items</span></a></li>
                <li><a routerLink="/profile"><i class="fa fa-users"></i><span>Profile</span></a></li>
                <li style="cursor: pointer;"><a><i class="fa fa-question-circle"></i><span>Q&As</span></a></li>
                <!-- <li><a><i class="icon-badge"></i><span>Job Portal</span></a></li> -->
                <li (click)="signout()" style="cursor: pointer;"><a><i class="fa fa-sign-out"></i><span>Sign
                            out</span></a></li>
            </ul>
        </nav>
    </div>
</div>