<div class="header2">
    <div class="row" #header2>
        <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-5 ">
            <nav class="navbar navbar-expand-xl main-menu-section">
                <ul class="navbar-nav ">
                    <li class="nav-item "> 
                        <a  href="#">
                            <img src="../../../assets/images/logo.png" />
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="font_menu " href="#">{{'he_menu_dashboard'|translate}}</a>
                    </li>
                    <li class="nav-item dropdown_menu" (click)="toggleSubMenu()" [style.background-color]="bgColor">                        
                            <a class="font_menu"  >
                                {{'he_menu_find_jobs'|translate}}
                            </a>                            
                            <ul class="sub_menu" id="sub_menu" [style.display]="is_sub_menu_show?'block':'none'">
                                <li><a class="font_menu" routerLink="/advancedJobSearch" (click)="hideSubMenu()">{{'he_menu_advanced_search'|translate}}</a></li>
                                <li><a class="font_menu" routerLink="/jobsbyrole" (click)="hideSubMenu()">{{'he_menu_jobs_by_role'|translate}}</a></li>
                                <li><a class="font_menu" routerLink="/findJobsBySector" (click)="hideSubMenu()">{{'he_menu_jobs_by_sector'|translate}}</a></li>
                                <li><a class="font_menu" routerLink="/findJobsByLocation" (click)="hideSubMenu()">{{'he_menu_jobs_by_location'|translate}}</a></li>
                                <li><a class="font_menu" routerLink="/findJobsByCompany" (click)="hideSubMenu()">{{'he_menu_jobs_by_companies'|translate}}</a></li>
                            </ul>   
                                                     
                    </li>
                    <li class="nav-item ">
                        <a class=" font_menu " routerLink="/myApplications">{{'he_menu_my_application'|translate}}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="font_menu " href="#">{{'he_menu_my_vcv'|translate}}</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4  search-container ">
            <div class="search-wrapper">
                <input class="job_search_input" type="text" placeholder="{{'in_job_title_skills_etc'|translate}}">
                <div class="country-selectbox-wrapper">
                    <app-country-select [is_flag_show]="false"></app-country-select>
                </div>
                <button>{{'btn_find_jobs'|translate}}</button>
            </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 notification-menu">
            <ul class="main-container">
                <li style="margin-top: 12px;" class="menu-item">
                    <a href="#" class="video_create">
                        <mat-icon>video_call</mat-icon>
                        <span>{{'btn_create_your_vcv'|translate}}</span>
                    </a>
                </li>
                <li class="menu-item">
                    <div class="noti-control" (mouseover)="showMessageModal()">
                        <a href="#" class="noti-menu">
                            <img src="../../../assets/images/icon/message.png">
                            <span class="count">2</span>
                        </a>
                        <div class="message-modal" #message_modal [style.display]="is_message_modal_show?'block':'none'">
                            <div class="pointer"><img src="../../../assets/images/header/notification_pointer.png"></div>
                            <ul class="message-list">
                                <li *ngFor="let message of sliceMessages" class="message-item">
                                    <div class="main-section">
                                        <div class="message-header">
                                            <div class="message-photo">
                                                <img [src]="message.photo" class="photo">
                                                <img [src]="message.company" class="com-mark">
                                            </div>
                                            <div class="message-name">
                                                <span class="person-name">{{message.name}}</span>
                                                <span class="com-name">{{message.com_name}}</span>
                                            </div>
                                        </div>
                                        <div class="message-body">
                                            {{message.message}}
                                        </div>
                                    </div>
                                    <div class="side-section">
                                        <div class="message-time">{{message.time}}</div>
                                    </div>
                                </li>
                            </ul>
                            <div class="see-all-section" (click)="seeAllMessages()">
                                {{'btn_see_all'|translate}}
                            </div>
                        </div>

                    </div>
                </li>
                <li class="menu-item">
                    <div class="noti-control" (mouseover)="showNotificationModal()">
                        <a href="#" class="noti-menu">
                            <img src="../../../assets/images/icon/notification.png">
                            <span class="count">3</span>
                        </a>
                        <div class="message-modal" #notification_modal [style.display]="is_notification_modal_show?'block':'none'">
                            <div class="pointer"><img src="../../../assets/images/header/notification_pointer.png"></div>
                            <ul class="message-list">
                                <li *ngFor="let notification of sliceNotifications" class="message-item">
                                    <div class="icon-section">
                                        <mat-icon>{{notification.noti_icon}}</mat-icon>
                                    </div>
                                    <div class="main-nofication-section">
                                        <div class="noti-header">{{notification.noti_name|uppercase}}</div>
                                        <div class="noti-body">
                                            {{notification.noti_message}}
                                        </div>
                                        <div class="noti-time">
                                            {{notification.time}}
                                        </div>
                                    </div>
                                    <div class="side-noti-section">
                                        <mat-icon>fiber_manual_record</mat-icon>
                                    </div>
                                </li>
                            </ul>
                            <div class="see-all-section" (click)="seeAllNotification()">
                                {{'btn_see_all'|translate}}
                            </div>
                        </div>

                    </div>
                </li>
                <li class="menu-item" style="margin-top:8px;">
                    <a href="#" class="personal">
                        <img src="../../../assets/images/icon/man.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <i class="fa fa-bars nav_toggle_btn" (click)="toggleHeaderMenu()"></i>
</div>