<div class="login-div">
  <div class="content ">
    <div class="content">
      <div class="sign-up-header-container">
        <div class="title">{{'login_title'|translate}}</div>
        <div class="subtitle">
          <span class="subtitle-script">{{'login_subject'|translate}}</span>
          <a routerLink="/signup"><span class="subtitle-sign-up">{{'login_sign_up'|translate}}</span></a>
        </div>
      </div>
      <div class="sign-up-container">
        <div class="sign-up-input-container">
          <div class="input-box">
            <input type="text" placeholder="{{'login_placeholder_name_email'|translate}}" class="input-style" #email>
            <p class="forgot-password-test"><a>{{'login_forgot_password'|translate}}</a></p>
            <input type="password" placeholder="{{'login_placeholder_password'|translate}}" class="input-style" #password>
          </div>
          <input class="styled-checkbox" id="remember" type="checkbox" value="">
          <label for="remember">{{'login_remember_me'|translate}}</label>
        </div>
        <hr>
        <div class="sign-up-input-container">
          <div class="sign-up-button-box">
            <button (click)="signIn()">{{'login_button_login'| translate}}</button>
          </div>
        </div>
      </div>
      <div class="script">
        -{{'login_or_login_with'|translate}}-
      </div>
      <div class="social-container">
        <button class="social-item">
          <i class="fa fa-facebook"></i>
        </button>
        <button class="social-item" (click)="signInWithGoogle()">
          <i class="fa fa-google"></i>
        </button>
        <button class="social-item" (click)="signInWithLinkedin()">
          <i class="fa fa-linkedin"></i>
        </button>
      </div>
    </div>
  </div>
</div>