<div class="privacy">
  <div class="container">
    <h2 class="c1" id="h.abrfb1ds6sdl"><span class="c5">Collection and Use of Personal Information</span></h2>
    <p class="c1"><span class="c0">Personal information is data that can be used to identify or contact a single
        person.</span></p>
    <p class="c1"><span class="c6">You may be asked to provide your personal information anytime you are in contact with
        Cardboard</span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/legal/privacy/en/affiliated-company/&amp;sa=D&amp;ust=1576097817752000">&nbsp;</a></span><span
        class="c13">or a Cardboard Affiliated company</span><span class="c0">&nbsp;Cardboard and its affiliates may
        share this personal information with each other and use it consistent with this Privacy Policy. They may
        also combine it with other information to provide and improve our products, services, content, and
        advertising. You are not required to provide the personal information that we have requested, but, if you
        chose not to do so, in many cases we will not be able to provide you with our products or services or
        respond to any queries you may have.</span></p>
    <p class="c1"><span class="c0">Here are some examples of the types of personal information Cardboard may collect and
        how we may use it:</span></p>
    <h3 class="c1" id="h.k8j9nvs61mtm"><span class="c11">What personal information we collect</span></h3>
    <ul class="c10 lst-kix_n7uqah4896we-0 start">
      <li class="c4"><span class="c0">When you create a Cardboard ID, download our app, &nbsp;purchase a product,
          download a software update, register to receive a Cardboard Card File &nbsp;from an introduction or
          invitation , connect to our services, contact us including by social media or participate in an online
          survey, we may collect a variety of information, including your name, mailing address, phone number,
          email address, contact preferences, device identifiers, IP address, location information, credit card
          information and profile information where the contact is via social media.</span></li>
      <li class="c4"><span class="c0">When you share your content with family and friends using Cardboard products, send
          gift certificates and products, or invite others to participate in Cardboard services or forums, Cardboard
          may collect the information you provide about those people such as name, mailing address, email address,
          and phone number. Cardboard will use such information to fulfill your requests, provide the relevant
          product or service, or for anti-fraud purposes.</span></li>
      <li class="c4"><span class="c0">In certain jurisdictions, we may ask for a government issued ID in limited
          circumstances including when setting up an account and activating your device, managing reservations, or
          as required by law.</span></li>
    </ul>
    <h3 class="c1" id="h.n0ejglmx7t1c"><span class="c11">How we use your personal information</span></h3>
    <p class="c14"><span class="c0 c12">We may process your personal information: for the purposes described in this
        Privacy Policy, with your consent, for compliance with a legal obligation to which Cardboard is subject, for
        the performance of a contract to which you are party, in order to protect your vital interests, or when we
        have assessed it is necessary for the purposes of the legitimate interests pursued by Cardboard or a third
        party to whom it may be necessary to disclose information. If you have questions about this legal basis you
        can contact the European Data Protection Officer.</span></p>
    <ul class="c10 lst-kix_thu5bynz408j-0 start">
      <li class="c4"><span class="c0">The personal information we collect allows us to keep you posted on
          Cardboard&rsquo;s latest product announcements, software updates, and upcoming events. If you don&rsquo;t
          want to be on our mailing list, you can opt-out anytime.</span></li>
      <li class="c4"><span class="c0">We also use personal information to help us create, develop, operate, deliver,
          and improve our products, services, content and advertising, and for loss prevention and anti-fraud
          purposes. We may also use your personal information for account and network security purposes, including
          in order to protect our services for the benefit of all our users, and pre-screening or scanning
          uploaded content for potentially illegal content, including child sexual exploitation material. Where we
          use your information for anti-fraud purposes it arises from the conduct of an online transaction with
          us. We limit our uses of data for anti-fraud purposes to those which are strictly necessary and within
          our assessed legitimate interests to protect our customers and our services. For certain online
          transactions we may also validate the information provided by you with publicly accessible
          sources.</span></li>
      <li class="c4"><span class="c0">We may use your personal information, including date of birth, to verify
          identity, assist with identification of users, and to determine appropriate services. For example, we
          may use date of birth to determine the age of Cardboard ID account holders.</span></li>
      <li class="c4"><span class="c0">From time to time, we may use your personal information to send important
          notices, such as communications about purchases and changes to our terms, conditions, and policies.
          Because this information is important to your interaction with Cardboard you may not opt out of receiving
          these communications.</span></li>
      <li class="c4"><span class="c0">We may also use personal information for internal purposes such as auditing,
          data analysis, and research to improve Cardboard&rsquo;s products, services, and customer
          communications.</span></li>
      <li class="c4"><span class="c0">If you enter into a sweepstake, contest, or similar promotion we may use the
          information you provide to administer those programs.</span></li>
      <li class="c4"><span class="c0">If you apply for a position at Cardboard or we receive your information in
          connection with a potential role at Cardboard, we may use your information to evaluate your candidacy and
          to contact you. If you are a candidate, you will receive more information about how Cardboard handles
          candidate personal information at the time of application.</span></li>
    </ul>
    <h3 class="c1" id="h.5pbjfq28atqp"><span class="c11">Source of your personal information where they are not
        collected from you</span></h3>
    <p class="c1"><span class="c0">We may have received your personal information from other persons if that person has
        shared their content with you using Cardboard products, sent gift certificates and products, or invited you to
        participate in Cardboard services or forums. We may also validate the information provided by you when
        creating an Cardboard ID with a third party for security and fraud prevention purposes.</span></p>
    <p class="c1"><span class="c0">If you are a potential candidate for employment with Cardboard, we may have received
        your personal information from third parties such as recruiters or external websites. We will use the
        personal information we receive to contact you about a potential opportunity or in evaluating your
        candidacy. If you did not provide us your personal information directly, we will inform you of the source
        when we first contact you regarding your candidacy. For research and development purposes, we may use
        datasets such as those that contain images, voices or other data that could be associated with an
        identifiable person. When acquiring such datasets, we do so in accordance with applicable law in the
        jurisdiction in which the dataset is hosted. When using such datasets for research and development, we do
        not attempt to re-identify individuals who may appear therein.</span></p>
    <h2 class="c1" id="h.ilp4tox4z8o8"><span class="c5">Collection and Use of Non-Personal Information</span></h2>
    <p class="c1"><span class="c0">We also collect data in a form that does not, on its own, permit direct association
        with any specific individual. We may collect, use, transfer, and disclose non-personal information for any
        purpose. The following are some examples of non-personal information that we collect and how we may use
        it:</span></p>
    <ul class="c10 lst-kix_iod1ilxj51fu-0 start">
      <li class="c4"><span class="c0">We may collect information such as occupation, language, zip code, area code,
          unique device identifier, referrer URL, location, and the time zone where a Cardboard product is used so
          that we can better understand customer behavior and improve our products, services, and
          advertising.</span></li>
      <li class="c4"><span class="c0">We may collect information regarding customer activities on our website, iCloud
          services, App Store and from our other products and services. This information is aggregated and used to
          help us provide more useful information to our customers and to understand which parts of our website,
          products, and services are of most interest. Aggregated data is considered non&#8209;personal
          information for the purposes of this Privacy Policy.</span></li>
      <li class="c4"><span class="c0">We may collect and store details of how you use our services, including search
          queries. This information may be used to improve the relevancy of results provided by our services.
          Except in limited instances to ensure quality of our services over the Internet, such information will
          not be associated with your IP address.</span></li>
      <li class="c4"><span class="c0">With your explicit consent, we may collect data about how you use your device
          and applications in order to help app developers improve their apps.</span></li>
    </ul>
    <p class="c14"><span class="c0 c12">If we do combine non-personal information with personal information the combined
        information will be treated as personal information for as long as it remains combined.</span></p>
    <h2 class="c1" id="h.fz0hp9563kal"><span class="c5">Cookies and Other Technologies</span></h2>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&rsquo;s websites, online services, interactive
        applications, email messages, and advertisements may use &quot;cookies&quot; and other technologies such as
        pixel tags and web beacons. These technologies help us better understand user behavior, tell us which parts
        of our websites people have visited, and facilitate and measure the effectiveness of advertisements and web
        searches. We treat information collected by cookies and other technologies as non&#8209;personal
        information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are
        considered personal information by local law, we also treat these identifiers as personal information.
        Similarly, to the extent that non-personal information is combined with personal information, we treat the
        combined information as personal information for the purposes of this Privacy Policy.</span></p>
    <p class="c1"><span class="c0">Ads that are delivered by Cardboard&rsquo;s advertising platform may appear in
        Cardboard
        News and in the App Store. If you do not wish to receive ads targeted to your interests from Cardboard&#39;s
        advertising platform, you can choose to enable Limit Ad Tracking, which will opt your Cardboard ID out of
        receiving such ads regardless of what device you are using. If you enable Limit Ad Tracking on your mobile
        device, third-party apps cannot use the Advertising Identifier, a non-personal device identifier, to serve
        you targeted ads. You may still see ads in the App Store or News based on context like your search query or
        the channel you are reading. In third-party apps, you may see ads based on other information.</span></p>
    <p class="c1"><span class="c0">Cardboard also uses cookies and other technologies to remember personal information
        when you use our website, online services, and applications. Our goal in these cases is to make your
        experience with Cardboard more convenient and personal. For example, knowing your first name lets us welcome
        you the next time you visit the Cardboard Online Store. Knowing your country and language &minus; and if you
        are an educator, your school &minus; helps us provide a customized and more useful shopping experience.
        Knowing someone using your computer or device has shopped for a certain product or used a particular service
        helps us make our advertising and email communications more relevant to your interests. And knowing your
        contact information, hardware identifiers, and information about your computer or device helps us
        personalize your operating system, set up your Cardboard service, and provide you with better customer
        service.</span></p>
    <p class="c1"><span class="c0">If you want to disable cookies and you&rsquo;re using the Safari web browser, go to
        Safari preferences and then to the privacy pane to manage your preferences. On your Cardboard mobile device,
        go to Settings, then Safari, scroll down to the Privacy &amp; Security section, and tap on &ldquo;Block
        Cookies&rdquo; to manage your preferences. For other browsers, check with your provider to find out how to
        disable cookies. Please note that certain features of the Cardboard website will not be available once cookies
        are disabled.</span></p>
    <p class="c1"><span class="c0">As is true of most internet services, we gather some information automatically and
        store it in log files. This information includes Internet Protocol (IP) addresses, browser type and
        language, Internet service provider (ISP), referring and exit websites and applications, operating system,
        date/time stamp, and clickstream data. We use this information to understand and analyze trends, to
        administer the site, to learn about user behavior on the site, to improve our product and services, and to
        gather demographic information about our user base as a whole. Cardboard may use this information in our
        marketing and advertising services.</span></p>
    <p class="c1"><span class="c0">In some of our email messages, we use a &ldquo;click-through URL&rdquo; linked to
        content on the Cardboard website. When customers click one of these URLs, they pass through a separate web
        server before arriving at the destination page on our website. We track this click-through data to help us
        determine interest in particular topics and measure the effectiveness of our customer communications. If you
        prefer not to be tracked in this way, you should not click text or graphic links in the email messages.
        Pixel tags enable us to send email messages in a format customers can read, and they tell us whether mail
        has been opened. We may use this information to reduce or eliminate messages sent to customers.</span></p>
    <h2 class="c1" id="h.4vlgmeqy9bmb"><span class="c5">Disclosure to Third Parties</span></h2>
    <p class="c1"><span class="c0">At times Cardboard may provide third parties with certain personal information to
        provide or improve our products and services, including to deliver products at your request, or to help
        Cardboard market to consumers. When we do, we require those third parties to handle it in accordance with
        relevant laws. Personal information will never be shared with third parties for their marketing purposes.
        For example, when you activate your account, you authorize Cardboard and your carrier to exchange the
        information you provide during the activation process to carry out service, including information about your
        device. If you are approved for service, your account will be governed by Cardboard and your carrier&rsquo;s
        respective privacy policies.</span></p>
    <h3 class="c1" id="h.iy0iuyv6m54w"><span class="c11">Service Providers</span></h3>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&nbsp;shares personal information with companies who
        provide services such as information processing, extending credit, fulfilling customer orders, delivering
        products to you, managing and enhancing customer data, providing customer service, assessing your interest
        in our products and services, and conducting customer research or satisfaction surveys. These companies are
        obligated to protect your information and may be located wherever Cardboard operates.</span></p>
    <h3 class="c1" id="h.nwz2dz9tzrog"><span class="c11">Others</span></h3>
    <p class="c1"><span class="c0">It may be necessary &minus; by law, legal process, litigation, and/or requests from
        public and governmental authorities within or outside your country of residence &minus; for Cardboard to
        disclose your personal information. We may also disclose information about you if we determine that for
        purposes of national security, law enforcement, or other issues of public importance, disclosure is
        necessary or appropriate. We may also disclose information about you, but only where there is a lawful basis
        for doing so, if we determine that disclosure is reasonably necessary to enforce our terms and conditions or
        protect our operations or users. &nbsp;This could include providing information to public or governmental
        authorities. Additionally, in the event of a reorganization, merger, or sale we may transfer any and all
        personal information we collect to the relevant third party.</span></p>
    <h2 class="c1" id="h.cqt2ua1d7g7c"><span class="c5">Protection of Personal Information</span></h2>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&nbsp;takes the security of your personal
        information
        very seriously. Cardboard online services protect your personal information during transit using encryption
        such as Transport Layer Security (TLS). When your personal data is stored by Cardboard, we use computer
        systems with limited access housed in facilities using physical security measures. With the exception of how
        you store shared Cardboard Files, data is stored in encrypted form including when we utilize third-party
        storage.</span></p>
    <p class="c1"><span class="c0">When you use some Cardboard products, services, or applications or post on a
        Cardboard
        forum, chat room, or social networking service, the personal information and content you share is visible to
        other users and can be read, collected, or used by them. You are responsible for the personal information
        you choose to share or submit in these instances. For example, if you list your name and email address in a
        forum posting, that information is public. Please take care when using these features.</span></p>
    <p class="c1"><span class="c6">If you or anyone else using Family Sharing logs on to a device that is owned by a
        third party, any information shared within your Family&mdash;including calendar, location, photos, and
        iTunes purchases&mdash;may be downloaded on to that third-party device thereby disclosing any such shared
        information. Visit </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/icloud/family-sharing/&amp;sa=D&amp;ust=1576097817760000">Family
          Sharing</a></span><span class="c0">&nbsp;for more information.</span></p>
    <h2 class="c1" id="h.5fo486mftkkf"><span class="c5">The Existence of Automated Decision-Making, Including
        Profiling</span></h2>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&nbsp;does not take any decisions involving the use
        of
        algorithms or profiling that significantly affects you.</span></p>
    <h2 class="c1" id="h.3bzybxjc3i77"><span class="c5">Integrity and Retention of Personal Information</span></h2>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&nbsp;makes it easy for you to keep your personal
        information accurate, complete, and up to date. We will retain your personal information for the period
        necessary to fulfill the purposes outlined in this Privacy Policy and our service specific privacy
        summaries. When assessing these periods we carefully examine our need to collect personal information at all
        and if we establish a relevant need we only retain it for the shortest possible period to realize the
        purpose of collection unless a longer retention period is required by law.</span></p>
    <h2 class="c1" id="h.g3gmb88waj3z"><span class="c5">Access to Personal Information</span></h2>
    <p class="c1"><span class="c0">You can help ensure that your contact information and preferences are accurate,
        complete, and up to date by signing in to your Cardboard ID account page. For other personal information we
        hold, we will provide you with access (including a copy) for any purpose including to request that we
        correct the data if it is inaccurate or delete the data if Cardboard is not required to retain it by law or
        for legitimate business purposes.</span></p>
    <p class="c1"><span class="c6">We may decline to process requests that are frivolous/vexatious, jeopardize the
        privacy of others, are extremely impractical, or for which access is not otherwise required by local law. We
        may also decline aspects of deletion or access requests if we believe doing so would undermine our
        legitimate use of data for anti-fraud and security purposes as described earlier. Online tools for the
        exercise of access, deactivation/restriction, correction, or deletion requests are available on a regional
        basis by signing in to</span><span class="c8"><a class="c3"
          href="https://www.google.com/url?q=https://cboard.app&amp;sa=D&amp;ust=1576097817762000">&nbsp;cboard.app</a></span><span
        class="c6">. Where the online tool is not currently available for access requests in your region, a request
        may be made directly to </span><span class="c8"><a class="c3" href="mailto:info@cboard.app">cboard.app via
          email</a></span><span class="c0">.</span></p>
    <h2 class="c1" id="h.5wc8xma8jxt6"><span class="c5">Children &amp; Education</span></h2>
    <p class="c1"><span class="c6">We understand the importance of taking extra precautions to protect the privacy and
        safety of children using Cardboard products and services. Children under the age of 13, or equivalent minimum
        age in the relevant jurisdiction, are not permitted to create their own Cardboard IDs, unless their parent
        provided verifiable consent or as part of the child account creation process in Family Sharing or they have
        obtained a Managed Cardboard ID account (where available) through their school. For example, a parent must
        review the Apple</span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/legal/privacy/en-ww/parent-disclosure/&amp;sa=D&amp;ust=1576097817764000">&nbsp;ID
          and Family Sharing Disclosure</a></span><span class="c6">&nbsp;and agree to the </span><span class="c2"><a
          class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/legal/privacy/en-ww/parent-disclosure/%23consent&amp;sa=D&amp;ust=1576097817764000">Consent
          to Apple&rsquo;s Collection, Use and Disclosure of Your Child&rsquo;s Information</a></span><span class="c6">;
        and the </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/legal/internet-services/itunes/&amp;sa=D&amp;ust=1576097817764000">iTunes
          Store Terms and Conditions</a></span><span class="c6">, before they can begin the Cardboard ID account
        creation process for their child. In addition, schools that participate in Cardboard School Manager and have
        reviewed and consented to the Managed Cardboard IDs for Students Disclosure may create Managed Cardboard IDs for
        students. The </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/legal/education/apple-school-manager/&amp;sa=D&amp;ust=1576097817765000">Managed
          Apple IDs for Students Disclosure</a></span><span class="c6">&nbsp;describes how Cardboard handles student
        information and supplements Cardboard&rsquo;s Privacy Policy. Learn more about </span><span class="c2"><a
          class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/icloud/family-sharing/&amp;sa=D&amp;ust=1576097817765000">Family
          Sharing</a></span><span class="c6">, the </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.apple.com/education/it/&amp;sa=D&amp;ust=1576097817766000">Managed
          Apple IDs</a></span><span class="c6">&nbsp;and </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://support.apple.com/en-us/HT201304&amp;sa=D&amp;ust=1576097817766000">Restrictions</a></span><span
        class="c0">&nbsp;for children&rsquo;s accounts. If we learn that we have collected the personal information
        of a child under 13, or equivalent minimum age depending on jurisdiction, outside the above circumstances we
        will take steps to delete the information as soon as possible. If at any time a parent needs to access,
        correct, or delete data associated with their Family Sharing account or child&rsquo;s Cardboard ID, they may
        contact us through one of the options provided at the bottom of this page.</span></p>
    <h2 class="c1" id="h.qumwfl6n05sx"><span class="c5">Location-Based Services</span></h2>
    <p class="c1"><span class="c0">To provide location-based services on Cardboard products, Cardboard and our partners
        and
        licensees, such as maps data providers, may collect, use, and share precise location data, including the
        real-time geographic location of your Cardboard computer or device. Where available, location-based services
        may use GPS, Bluetooth, and your IP Address, along with crowd-sourced Wi-Fi hotspot and cell tower
        locations, and other technologies to determine your devices&rsquo; approximate location. Unless you provide
        consent, this location data is collected anonymously in a form that does not personally identify you and is
        used by Cardboard and our partners and licensees to provide and improve location-based products and services.
        For example, your device may share its geographic location with application providers when you opt in to
        their location services.</span></p>
    <p class="c1"><span class="c0">Some location-based services offered by Cardboard, such as the &ldquo;Find My&rdquo;
        feature, require your personal information for the feature to work.</span></p>
    <h2 class="c1" id="h.g05k0eplglk3"><span class="c5">Third&#8209;Party Sites and Services</span></h2>
    <p class="c1"><span class="c6">Cardboard</span><span class="c0">&nbsp;websites, products, applications, and services
        may contain links to third-party websites, products, and services. Our products and services may also use or
        offer products or services from third parties &minus; for example, a third&#8209;party iPhone app.</span>
    </p>
    <p class="c1"><span class="c0">Information collected by third parties, which may include such things as location
        data or contact details, is governed by their privacy practices. We encourage you to learn about the privacy
        practices of those third parties.</span></p>
    <p class="c1"><span class="c0">If you purchase a subscription in a third party app or within News, we create a
        Subscriber ID that is unique to you and the developer or publisher which we use to provide reports to the
        developer or publisher that include information about the subscription you purchased, and your country of
        residence. If you cancel all of your subscriptions with a particular developer or publisher, the Subscriber
        ID will reset after 180 days if you do not resubscribe. This information is provided to developers so that
        they can understand the performance of their subscriptions.</span></p>
    <h2 class="c1" id="h.a9kfipllrr1o"><span class="c5">International Users</span></h2>
    <p class="c1"><span class="c6">All the information you provide may be transferred or accessed by entities around the
        world as described in this Privacy Policy. Personal information, relating to Cardboard services, regarding
        individuals who reside in a member state of the European Economic Area and Switzerland is controlled by
        Cardboard Distribution International in Ireland, and processed on its behalf by Cardboard Inc. Cardboard uses
        approved </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en&amp;sa=D&amp;ust=1576097817769000">Model
          Contractual Clauses</a></span><span class="c0">&nbsp;for the international transfer of personal
        information collected in the European Economic Area and Switzerland. Cardboard, as a global company, has a
        number of legal entities in different jurisdictions which are responsible for the personal information which
        they collect and which is processed on their behalf by Cardboard Inc. For example, point of sale information
        in our Retail entities outside the U.S. is controlled by our individual Retail entities in each country.
        Cardboard, Online Store and iTunes related personal information may also be controlled by legal entities
        outside the U.S. as reflected in the terms of each service. Imagery and associated data collected by Cardboard
        around the world to improve Cardboard Maps, and in support of our Look Around feature is transferred to
        Cardboard Inc in California.</span></p>
    <p class="c1"><span class="c6">Cardboard abides by the </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=http://www.apec.org/Groups/Committee-on-Trade-and-Investment/~/media/Files/Groups/ECSG/CBPR/CBPR-PoliciesRulesGuidelines.ashx&amp;sa=D&amp;ust=1576097817770000">Asia-Pacific
          Economic Cooperation (APEC) Cross Border Privacy Rules System</a></span><span class="c6">. The APEC CBPR
        system provides a framework for organizations to ensure protection of personal information transferred among
        participating APEC economies. If you have an unresolved privacy or data use concern regarding our APEC CBPR
        and/or PRP certifications please visit our </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://feedback-form.truste.com/watchdog/request&amp;sa=D&amp;ust=1576097817770000">third-party
          dispute resolution provider</a></span><span class="c0">.</span></p>
    <h2 class="c1" id="h.xdc8j5lqcdoq"><span class="c5">Our Company wide Commitment to Your Privacy</span></h2>
    <p class="c1"><span class="c0">To make sure your personal information is secure, we communicate our privacy and
        security guidelines to Cardboard employees and strictly enforce privacy safeguards within the company.</span>
    </p>
    <h2 class="c1" id="h.vc2b32sdkn4e"><span class="c5">Privacy Questions</span></h2>
    <p class="c1"><span class="c6">If you have any questions or concerns about Cardboard&rsquo;s Privacy Policy or data
        processing, you would like to contact our European Data Protection Officer, or if you would like to make a
        complaint about a possible breach of local privacy laws, please </span><span class="c2"><a class="c3"
          href="https://www.google.com/url?q=https://www.cboard.app/legal/privacy/en-ww/contact/&amp;sa=D&amp;ust=1576097817772000">contact
          us</a></span><span class="c6">. You can always contact us by phone at the relevant </span><span class="c2"><a
          class="c3"
          href="https://www.google.com/url?q=https://support.apple.com/en-us/HT201232&amp;sa=D&amp;ust=1576097817772000">Cardboard
          Support</a></span><span class="c0">&nbsp;number for your country or region.</span></p>
    <p class="c1"><span class="c0">When a privacy question or question about personal information received in response
        to an access/download request is received we have a dedicated team which triages your contact to address
        your issue. Where your issue may be more substantive in nature, we may request more information from you.
        All such substantive contacts receive a response within seven (7), days wherever possible - providing a
        response on the issue raised, requesting additional information where necessary or indicating that a
        response will require additional time. You may at any time refer your complaint to the relevant regulator in
        your jurisdiction if you are unsatisfied with a reply received from us. If you ask us, we will endeavor to
        provide you with information about relevant complaint avenues which may be applicable to your
        circumstances.</span></p>
    <p class="c1"><span class="c0">Where your complaint indicates an improvement could be made in our handling of
        privacy issues we will take steps to make such an update at the next reasonable opportunity. In the event
        that a privacy issue has resulted in a negative impact on you or another person we will take steps to
        address that with you or that other person.</span></p>
    <p class="c1"><span class="c0">Cardboard may update its Privacy Policy from time to time. When we change the policy
        in
        a material way, a notice will be posted on our website along with the updated Privacy Policy. We will also
        contact you via your contact information on file, for example by email, notification or some other
        equivalent method. </span></p>
    <p class="c1"><span class="c0">Cardboard Is a service mark of www realestate &reg; incorporated. 464 Commonwealth
        Avenue Boston MA 02215</span></p>
    <p class="c7"><span class="c15"></span></p>
  </div>
</div>