
    <div class="portal_content_1 portal-section row d-flex align-items-center">
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mt-3">

      </div>
      <div class="intro-content des_content_1 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-left mt-3 ">
          <h1 class="title">
              {{"portal_title1"|translate}}
          </h1>
          <p class="subject">
              {{"portal_subject1"|translate}}
          </p>
          <div class="des_content_1_3">
              <button class="large_rounded_btn" routerLink="/">
                  {{'btn_play_video'|translate}}
              </button>
          </div>
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 mt-2">

      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-3">
          <div class="img-thumb text-left wow fadeInUp">
              <img class="img-fluid app-home" src="../../../assets/images/portal_images/app-home-screen.png" alt="Cardboard App Home Screen">
          </div>
      </div>
    </div>

    <div class='intro'>
      <div class='diagnal'>
        <svg class='diagnal-shape' width="100%" height="100%" viewBox="0 0 4375 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4375,0l-4375,625c0,0 4375,0 4375,0l0,-625Z" style="fill:#1f262f;"/>
        </svg>
      </div>
    </div>


    <div class="portal-section portal_content_2">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-6 section-content">
                  <h2 class="title">{{"portal_title1a"|translate}}</h2>
                  <p class="subject">{{"portal_subject1a"|translate}}</p>
              </div>
          </div>
      </div>
      <div class='diagnal'>
        <svg class='diagnal-shape' width="100%" height="100%" viewBox="0 0 4375 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4375,0l-4375,625c0,0 4375,0 4375,0l0,-625Z" style="fill:#fff;"/>
        </svg>
      </div>
    </div>

    <div class="portal-section portal_content_2 portal_content_1a">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-6 section-content">
                    <h2 class="title">{{"portal_title2"|translate}}</h2>
                    <p class="subject">{{"portal_subject2"|translate}}</p>
                </div>
            </div>
        </div>
      <div class='diagnal'>
        <svg class='diagnal-shape' width="100%" height="100%" viewBox="0 0 4375 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4375,0l-4375,625c0,0 4375,0 4375,0l0,-625Z" style="fill:#1f262f;"/>
        </svg>
      </div>
    </div>

    <div class="portal-section portal_content_5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <h2 class="title">{{"portal_title5"|translate}}</h2>
                    <!-- <p class="subject">{{"portal_subject5"|translate}}</p> -->
                </div>
            </div>

            <div class="portal-section portal_content_5_2 row">
                <div class="col-sm-12 col-md-2 content_5_2_1 pricing-table">
                    <div class="title">
                        {{"portal_title_looking_for_job"|translate}}
                    </div>
                    <div class="sub_title">
                        {{"portal_subject_looking_for_job"|translate}}
                    </div>
                    <div class="text-center pricing">
                        <li>Unlimited cards</li>
                        <li>Unlimited shares</li>
                        <li>Unlimited contacts</li>
                        <li>iOS & Android apps</li>
                        <li>Links & images</li>
                    </div>
                    <div class="text-center">
                        <button class="large_rounded_btn" routerLink="/">{{'btn_discover'|translate}}</button>
                    </div>

                </div>
                <div class="col-sm-12 col-md-2 content_5_2_2 pricing-table gold">
                    <div class="title">
                        {{"portal_title_looking_to_hire"|translate}}
                    </div>
                    <div class="sub_title">
                        {{"portal_subject_looking_to_hire"|translate}}
                    </div>
                    <div class="text-center pricing">
                        <li>Unlimited cards</li>
                        <li>Unlimited shares</li>
                        <li>Unlimited contacts</li>
                        <li>iOS & Android apps</li>
                        <li>Links & images</li>
                    </div>
                    <div class="text-center">
                        <button class="large_rounded_btn" routerLink="/">{{'btn_discover'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class='diagnal'>
          <svg class='diagnal-shape' width="100%" height="100%" viewBox="0 0 4375 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4375,0l-4375,625c0,0 4375,0 4375,0l0,-625Z" style="fill:#fff;"/>
          </svg>
        </div>
    </div>

    <div class="portal-section portal_content_7">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="title">{{"portal_title7"|translate}}</div>
                    <div class="subject">{{"portal_subject7"|translate}}</div>
                </div>
            </div>

            <div class="portal_content_7_2 row">
                <div class="col-sm-6 col-md-6 col-lg-3 country" *ngFor="let country of countries">
                    <div><img class="rounded-circle" [src]="country.url" width="200" height="200"></div>
                    <div class="country-name">{{country.name}}</div>
                    <div class="country-jobs">{{country.occupation}}</div>
                </div>
            </div>
            <!-- <div class="portal_content_7_3">
                <button class="large_rounded_btn">{{'btn_view_more'|translate}}</button>
            </div> -->
        </div>

        <div class='diagnal'>
          <svg class='diagnal-shape' width="100%" height="100%" viewBox="0 0 4375 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M4375,0l-4375,625c0,0 4375,0 4375,0l0,-625Z" style="fill:#1f262f;"/>
          </svg>
        </div>
    </div>

  <!--
  <div class="portal-section portal_content_6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="title">{{"portal_title6"|translate}}</div>
                    <div class="subject">{{"portal_subject6"|translate}}</div>
                </div>
            </div>
        </div>
        <div class="portal-section portal_content_6_2">
            <div class="row">
                <div class="col-sm-4 col-md-2" *ngFor="let mark of marks"
                    style=" text-align: center; margin-top: 40px; "><img [src]="mark.url">
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="portal-section portal_content_8 container">
        <div class="row portal_content_8_body">
            <Form class="col-sm-12 col-md-6 offset-md-3 portal_content_8_2">
                <div class="portal_content_8_2_1 font_blue_headline">
                    {{"portal_title8"|translate}}
                </div>
                <div class="portal_content_8_2_2 font_paragraph">
                    {{"portal_subject8"|translate}}
                </div>
                <div class="portal_content_8_2_4">
                    <input type="email" placeholder="{{'contact_us_placeholder_full_name'|translate}}">
                </div>
                <div class="portal_content_8_2_4">
                    <input type="email" placeholder="{{'in_email'|translate}}">
                </div>
                <div class="portal_content_8_2_4">
                    <input type="text" placeholder="{{'in_subject'|translate}}">
                </div>
                <div class="portal_content_8_2_4">
                    <textarea rows="4" placeholder="{{'in_message'|translate}}" id="message"></textarea>
                </div>
                <div class="portal_content_8_2_7">
                    <button class="large_rounded_btn" routerLink="/">Send It</button>
                </div>
            </Form>
            <!-- <div class="col-sm-12 col-md-6 text-center">
                <img src="../../../assets/images/portal_images/content_8_img.png">
            </div> -->

        </div>
    </div>


    <div class="portal-section row portal_content_9">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <div class="title">{{"portal_title9"|translate}}</div>
                    <div class="subject">{{"portal_subject9"|translate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <div class="portal_content_9_2">
                        <button class="download_app_store_btn"></button>
                        <button class="download_google_store_btn"></button>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="portal_content_9_3">
                        <img src="../../../assets/images/portal_images/iphone.png">
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
