.single-chart {
    width: 100%;   
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;   
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 1.5;
  }
  
  .circle {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .percent-text{
      margin-top:10px;
      font-size:35px;
      font-weight: bold;
      text-align: center;
  }