//////////color////////////
$thickblue:#2766FF;
$thinblue:#5B8AFC;
$thickgreen:#22F2CE;
$thingreen:#8AF3E2;
$thickyellow:#FEC200;
$thinyellow:#F9DB79;
$thickred:#FF2C55;
$thinred:#FC5F7E;
$thickpurple:#221B44;
$thinpurple:#8781BD;
$white:#FFFFFF;
$thickgray:#393C3E;
$thingray: #71787E;
$linkblue: #2965FF;
/////////font////////
$text_headline1_font_size: 32px;
$text_headline1_lineheight: 44px;

$text_headline2_font_size: 22px;
$text_headline2_lineheight: 32px;

$text_headline3_font_size: 20px;
$text_headline3_lineheight: 28px;

$text_paragraph_font_size: 16px;
$text_paragraph_lineheight: 24px;

$text_additional_paragraph_font_size: 14px;
$text_additional_paragraph_lineheight: 22px;

$text_link_font_size: 16px;
$text_link_lineheight: 24px;

