.about-us{
    .overview-container{
        width:100%;
       
        .container{
            display:flex;
            height:520px;
            justify-content: flex-start;
            align-items: center;
            background-image: url('/assets/images/about_us/about_us_bg.png');
            background-repeat: no-repeat;
            background-position: right top;
            .about-us-wrapper{
                width: 360px;
                .title{
                    @include custom_font($thickblue, 46px , 47px , 'galano_grotesque_alt_semi_bold');   
                    margin: 30px 0;
                }
                .subject{
                    @include custom_font(#09193F, 24px , 33px , 'galano_grotesque_semi_bold');   
                }
          
            }
        }
        
    }
    .mission-container{
        text-align: center;
        display:flex;
        justify-content: center;       
        background-color:#112145;
        .mission-wrapper{
            background-image: url('/assets/images/about_us/mission_bg.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            .title{
                @include custom_font(white, 46px , 47px , 'galano_grotesque_alt_semi_bold');   
               margin:70px 0 20px 0;
            }
            .sub-title{
                @include custom_font(white, 22px , 26px , 'galano_grotesque_alt_regular');   
               margin:20px 0;
            }
            .subject{
                @include custom_font(white, 16px , 24px , 'galano_grotesque_alt_regular');   
               margin:20px 0 70px 0;
            }
        }
    }

    

    .nysm-people-container{
     .container{
         padding-top: 70px;
         z-index: 99999;
        background-image: url('/assets/images/about_us/nysm_bg_1.png');
        background-repeat: no-repeat;
        background-position: 0 0px;
        margin-bottom: 70px;
        .title{
            text-align: center;
            @include custom_font(#09193F, 46px , 47px , 'galano_grotesque_alt_semi_bold');   
            margin-bottom: 70px ;
        }
       .subject{
           text-align: center;
           margin-bottom: 80px;
        @include custom_font(#8E9DC1, 16px , 24px , 'galano_grotesque_alt_regular');   
       }
       .content{
           .header-content{
             margin-bottom: 50px;
            @include custom_font(#122146, 22px , 32px , 'galano_grotesque_medium');   
           }
           .body-content{
               margin-bottom:50px;
            @include custom_font(#122146, 14px , 24px , 'galano_grotesque_semi_bold');   
           }
           .footer-content{
            margin-bottom:50px;
            @include custom_font(#122146, 22px , 32px , 'galano_grotesque_medium');  
           }
           .sign-content{
            margin-bottom:150px;
            @include custom_font(#00E4C7, 26px , 32px , 'galano_grotesque_alt_regular');   
           }
        .last-body{
            background-image: url('/assets/images/about_us/nysm_bg_2.png');
           background-repeat: no-repeat;
            background-position: right bottom;
        }
       }
    }
    }


    @media(min-width:1200px){
        .mission-container{           
            .mission-wrapper{
              padding:0 150px;
            }
        }

        .nysm-people-container{
           .subject{
              padding: 0 150px;
           }
        }
    }
}