.profile-analytics{
    padding: 90px 60px;
    .title{
        text-align: center;
        margin:10px 0 50px 0;
        @include custom_font(#333333, 32px , 47px , 'galano_grotesque_alt_semi_bold');
    }
    .analytics-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       .analytics{
           margin: 50px 20px;
           width:500px;
           height:640px;
           padding:40px 30px;          
           border-radius: 15px;
           box-shadow: 0 0 40px rgba(rgb(221, 211, 238), 0.7);
           .explain-container{
              display: flex;
              justify-content: space-between;  
              align-items: center;           
              margin-bottom: 20px;
              height:112px;
              .explain{
                  width:300px;
                  .explain-title{
                      margin-bottom: 0;
                      @include custom_font(#1C2B4F, 24px , 32px , 'galano_grotesque_alt_bold');
                  }
                  .script{
                    margin-bottom: 0;
                    @include custom_font(#7F8FA4,16px , 24px , 'galano_grotesque_alt_medium');
                  }
              }
              span{
                @include custom_font($thickblue,55px , 74px , 'galano_grotesque_alt_light'); 
              }
           }

           .checkbox-wrapper{
             margin:20px 0px 10px 10px;                 
              label{
                    @include custom_font(#354052, 14px, 21px,'galano_grotesque_semi_bold');
                    margin-left: 5px;
              }
            }
       }
    }
}