
.vcvtuto_page{
    width:100%;
    padding: 120px 0;
    background-image: url('assets/images/vcvtuto/bg.png');
    background-size: 100% 100%;
    .content{
        background-image: url('assets/images/vcvtuto/bg2.png');
       background-size: 100% 100%;
       background-repeat: no-repeat;
       background-position: center;
       border-radius: 10px;
       box-shadow: 0 0 10px black;
       width: 100%;
       height: 650px;
       padding: 160px 0;
       
       .content_1{          
          
           .title{
            @include custom_font($white, 54px, 54px, 'galano_grotesque_alt_extra_bold');
           }
           .sub-title{
               margin-top:5px;
            @include custom_font($thickgreen, 18px, 16px, 'galano_grotesque_alt_semi_bold');
           }
           .description{
               margin-top: 20px;
            @include custom_font($white, 16px, 28px, 'galano_grotesque_alt_medium'); 
            margin-bottom: 35px;
           }
           .btn_1{
            @include button-inverse-variant($thickgreen,18px, $thickblue, 33px, 15px, 40px, $thickblue);
            box-shadow: 0 1px 7px rgb(37, 24, 49);
            border:none;
            font-family: 'galano_grotesque_alt_bold';
            padding-left:20px;
            img{
                width: 34px;
                height:34px;
                vertical-align: middle;
                margin-right: 6px;                
            }
           }
           .btn_2{
            @include button-inverse-variant($white,16px,transparent, 16px, 0px, 0px, transparent);
            border:none;
            box-shadow: none;
            margin-left: 20px;
            font-family: 'galano_grotesque_alt_semi_bold';
           }

           .styled-checkbox {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it
            
            & + label {
            position: relative;
            cursor: pointer;
            padding: 0px;
            color:white;
            opacity: 0.8;
            font-family: 'galano_grotesque_alt_regular';
            font-size: 16px;
            }
        
            // Box.
            & + label:before {
            content: '';
            margin-right: 10px;
            margin-top:-3px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: #0ab6cb;
            border:1px solid white;
            border-radius: 4px;
            }
        
            // Box hover
            &:hover + label:before {
            // background: #f35429;
            }
            
            // Box focus
            &:focus + label:before {
            // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            }
        
            // Box checked
            &:checked + label:before {
            background: #0ab6cb;
            }                        
                    
            // Checkmark. Could be replaced with an image
            &:checked + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
            transform: rotate(45deg);
            }
        }
       }
    }
}