<div class="contact-us">
  <div class="container">
    <img class="nysm-bg-1" src="/assets/images/about_us/nysm_bg_1.png">
    <div class="row">
      <div class="col-md-5">
        <div class="title">{{'contact_us_contact_us'|translate}}</div>
        <div class="sub-title">{{'contact_us_reach_out'|translate}}</div>
        <form>
          <input type="text" value="" placeholder="{{'contact_us_placeholder_full_name'|translate}}" />
          <input type="email" value="" placeholder="{{'contact_us_placeholder_your_email'|translate}}">
          <textarea placeholder="{{'contact_us_placeholder_comment'|translate}}"></textarea>
          <button class="large_rounded_btn">{{'contact_us_button_submit'|translate|uppercase}}</button>
        </form>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="map-container">
          <div class="bg">

          </div>
          <img class="nysm-bg-2" src="/assets/images/about_us/nysm_bg_2.png">
          <div class="map-wrapper">

          </div>

        </div>
      </div>
    </div>

    <div class="control-container">
      <div class="control">
        <img src="/assets/images/contact_us/contact_us_inquiry.png">
        <div class="name-container">
          <p class="item">{{'contact_us_reach_out'|translate}}</p>
          <p class="name">Dubai-Sheikh Zayed Road</p>
        </div>
      </div>
      <div class="control">
        <img src="/assets/images/contact_us/contact_us_email.png">
        <div class="name-container">
          <p class="item">{{'contact_us_send_us_email'|translate}}</p>
          <p class="name">info@nowyouseeme.com</p>
        </div>
      </div>
      <div class="control">
        <img src="/assets/images/contact_us/contact_us_call.png">
        <div class="name-container">
          <p class="item">{{'contact_us_call_us_on'|translate}}</p>
          <p class="name">+966 6783 3898</p>
        </div>
      </div>
    </div>
  </div>
</div>