<div class="create-vcv-platform">
  <p class="title">
    {{'create_vcv_create_from'|translate}}
  </p>
  <p class="subtitle">
    At half-past eight the door opened, the policeman appeared
  </p>
  <div class="get-started-container">
    <img src="/assets/images/create_vcv_platform/create_vcv.png">
    <div>
      <button class="large_rounded_btn" routerLink="/createVCVProfession">
        {{'create_vcv_button_get_started'|translate|uppercase}}
      </button>
    </div>

  </div>

  <p class="title">{{'create_vcv_have_one'|translate}}</p>
  <p class="upload"><i class="fa fa-cloud-upload"></i>
    <a>{{'create_vcv_button_upload'|translate}}</a>
  </p>
</div>