  <div class="signup">
    <div class="content">
       <div class="content_1">
            <div class="title">{{'signup_page.content1.title'|translate}}</div>
           <div class="subtitle">{{'signup_page.content1.sub_title'|translate}}</div>
       </div>
       <Form class="content_2">
         <div class="content_2_1">
           <div class="title">{{'signup_page.content2.title1'|translate}}</div>
           <div class="row">
             <div class="col-sm-12 col-md-6">
               <Input type="text" placeholder="{{'input.firstname'|translate}}" class="input-style">
                <Input type="text" placeholder="{{'input.lastname'|translate}}" class="input-style">
             </div>
             <div class="col-sm-12 col-md-6">
                <Input type="text" placeholder="{{'input.email'|translate}}" class="input-style">
                <Input type="password" placeholder="{{'input.password'|translate}}" class="input-style">
              </div>
           </div>          
         </div>
         <hr>
         <div class="content_2_2">
            <div class="title">{{'signup_page.content2.title2'|translate}}</div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <Input type="text" placeholder="{{'input.industry'|translate}}" class="input-style">                
              </div>
              <div class="col-sm-12 col-md-6">
                 <Input type="text" placeholder="{{'input.jobtitle'|translate}}" class="input-style">                 
               </div>
            </div> 
            <div class="content_2_2_3">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                    <label class="container">{{'signup_page.content2.script1'|translate}}
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>  
                </div>
                <div class="col-sm-12 col-md-3">
                    <button>{{'button.sign_up'| translate}}</button>
                </div>
              </div>
            </div>      
         </div>
         <hr>
         <div class="content_2_3">
           <div class="row ">
             <div class="col-sm-12 col-md-7 content_2_3_1"><span>{{'signup_page.content2.script2'|translate}}</span></div>
             <div class="col-sm-12 col-md-5 content_2_3_2">
               <button><img src="../../assets/images/icon/linkedin.png">{{'button.linkedin'|translate}}</button>
             </div>
           </div>
         </div>
         <hr>
         <div class="content_2_4">
           {{'signup_page.content2.script3'|translate}}
         </div>
        </Form>
    </div>
  </div>