<div class="teleprompter">
  <app-status-bar [states]="state_list"></app-status-bar>
  <div class="teleprompter-container ">
    <div class="container teleprompter2">
      <p class="question">{{'teleprompter5_question2'|translate}} </p>
      <p class="title">{{'teleprompter5_title'|translate}}</p>
      <div style="text-align: center">
        <button class="large_rounded_btn answer_btn" routerLink="/teleprompter/teleprompter6">
          <span>{{'teleprompter5_button_answer'|translate}}</span>
        </button>
      </div>
      <div style="text-align: center">
        <button class="skip">
          {{'teleprompter5_button_skip'|translate}}
        </button>
      </div>
      <div class="divider"></div>
      <div class="recording-state">
        {{'teleprompter5_not_recording'|translate}}
      </div>
    </div>
  </div>
</div>