@import "../../../assets/fonts.scss";
.checkbox-group{
        ul{  
         
        padding: 0;
        list-style: none;   
        font-size: 14px;
        line-height: 17px;
        color:#22252b;
        font-family: 'galano_grotesque_alt_regular';
        li{  
            margin:15px 0;         
             .styled-checkbox {
                 position: absolute; // take it out of document flow
                 opacity: 0; // hide it
                 
                 & + label {
                 position: relative;
                 cursor: pointer;
                 padding: 0px;
                 }
             
                 // Box.
                 & + label:before {
                 content: '';
                 margin-right: 10px;
                 margin-top:-3px;
                 display: inline-block;
                 vertical-align: text-top;
                 width: 20px;
                 height: 20px;
                 background: white;
                 border:1px solid #DDE1E4;
                 border-radius: 4px;
                 }
             
                 // Box hover
                 &:hover + label:before {
                 // background: #f35429;
                 }
                 
                 // Box focus
                 &:focus + label:before {
                 // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                 }
             
                 // Box checked
                 &:checked + label:before {
                 background: #306cf2;
                 }
                 
                         
                 // Checkmark. Could be replaced with an image
                 &:checked + label:after {
                 content: '';
                 position: absolute;
                 left: 5px;
                 top: 6px;
                 background: white;
                 width: 2px;
                 height: 2px;
                 box-shadow: 
                     2px 0 0 white,
                     4px 0 0 white,
                     4px -2px 0 white,
                     4px -4px 0 white,
                     4px -6px 0 white,
                     4px -8px 0 white;
                 transform: rotate(45deg);
                 }
             }
         }
     } 
 }   
 