<div class="about-us">
  <div class="overview-container">
    <div class="container">
      <div class="about-us-wrapper">
        <div class="title">
          {{'about_us_about_us'|translate}}
        </div>
        <div class="subject">
          Supporting you to be the best recruiting professional you can be, day in nd day out.
        </div>
      </div>
    </div>
  </div>
  <div class="mission-container">
    <div class="mission-wrapper container">
      <div class="title">{{'about_us_mission'|translate}}</div>
      <div class="sub-title">We modernize the hiring process</div>
      <div class="subject">
        Our specialization, focus and experience has made us indusry leaders. Working with us neans working with an
        international team
        of experts behind a focused platform with video recruitment at its core.
        Recruitment technology can only be successful when it is embraced by recruiters and canditates alike.
      </div>
    </div>

  </div>
  <div class="nysm-people-container">
    <div class="container">
      <div class="title">{{'about_us_nysm_people'|translate}}</div>
      <div class="subject">
        People are your company. They control everytinh -your products, your
        services, and how you separate yourselves from the competition. It's your people that matter
        most to the success of your business.
      </div>
      <div class="content row">
        <div class="col-md-5">
          <div class="header-content">
            Winning companies put people first.
            If you focus on recruiting, cultivating,
            and retaining good people, you’ll see better results.
            This is the fundamental belief in NYSM.
          </div>
          <div class="body-content">
            When you partner with NYSM, you get the unified
            technology and service experience you need your people matter.
            We seamlessly merge people and technology so that HR software
            you use doesn’t get in the way of the work that you do.
            We know that no matter how sophisticated our technology is,
            it’s not the technology that matters. It’s the results how well
            we improve the personal work experience for you and
            your people — the power behind your business. With NYSM, technology
            becomes invisible and you simply get the tools you need to let your people thrive.
          </div>
        </div>
        <div class="col-md-5 offset-md-2 last-body">
          <div class="body-content">
            We’ve built our company on the profound belief that
            people are the most important asset of any business.
            People management is all we focus on — and
            we’ve refused to do anything else. It’s that important.

            And we walk the talk. People matter. It shows in everything we do. In how we run our own business, in our
            choice to focus exclusively on HR software that help you put your people first. And in the fact that we
            design our software for exactly that people.
          </div>
          <div class="footer-content">
            The moment you are on-board on NYSM, 
            you’ll get what ‘People matter’ experience is all about.
          </div>
          <div class="sign-content">
            {{'about_us_nysm_people'|translate}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>