<div class="teleprompter">
  <app-status-bar [states]="state_list"></app-status-bar>
  <div class="teleprompter-container ">
    <div class=" teleprompter4">
      <div class="top-header">
        <div class="container top-header-content">
          <div class="left-header">
            <span class="title">{{'teleprompter4_title'|translate}}</span>
            <div class="loading">
              <app-record-loading [second]="loading_time" (nextNavigation)="onNextNavigation()" ></app-record-loading>
            </div>
          </div>
          <button class="skip">
            {{'teleprompter4_button_skip_question'|translate}}
          </button>
        </div>

      </div>
      <div class="recording-state">
        {{'teleprompter4_recording'|translate}}
      </div>
    </div>
  </div>
</div>