     
    @font-face { 
         font-family: 'galano_grotesque_alt_semi_bold'; 
         src : url("/assets/fonts/Galano Grotesque Alt Semi Bold.otf");  
     }
     @font-face { 
        font-family: 'galano_grotesque_semi_bold'; 
        src : url("/assets/fonts/Galano Grotesque Semi Bold.otf");  
    }
     @font-face {
         font-family:'galano_grotesque_alt_extra_bold';
         src : url("/assets/fonts/Galano Grotesque Alt Extra Bold.woff");
     }
     @font-face { 
         font-family: 'galano_grotesque_alt_regular'; 
         src: url("/assets/fonts/Galano Grotesque Alt.otf"); 
     }
     @font-face{
         font-family: 'galano_grotesque_alt_medium';
         src:url("/assets/fonts/Galano Grotesque Alt Medium.woff");
     }
     @font-face{
         font-family: 'galano_grotesque_alt_bold';
         src: url("/assets/fonts/Galano Grotesque Alt Bold.woff");
     } 
     @font-face{
        font-family: 'galano_grotesque_bold';
        src: url("/assets/fonts/Galano Grotesque Bold.woff");
    } 

     @font-face{
        font-family: 'galano_grotesque_alt_light';
        src: url("/assets/fonts/Galano Grotesque Alt Light.woff");
    } 


