<div class="job-offer">
  <div class="container">
    <div class="job-offer-photo-container">
      <div class="fluid-img-container">
        <img src="/assets/images/job_offer/img.png" class="fluid-img">
      </div>
      <div class="job-reference">
        <p class="name">{{'job_offer_job_reference'|translate}}</p>
        <p class="id">JB3760145</p>
      </div>
      <div class="job-offer-title-container row">
        <div clas="col-sm-12 col-md-7">
          <p class="title ">Product Designer at Google</p>
          <p class="location"><span class="city">Dubai</span>-<span>United Arab of Emirates</span></p>
          <p class="time">Posted 4 weeks ago</p>
          <button class="small_rounded_btn">
            <i class="fa fa-play"></i>{{'job_offer_button_watch_offer'|translate}}
          </button>
        </div>
      </div>
      <div class="applicants-container">
        <p class="count">23</p>
        <p class="application">{{'job_offer_applicants'|translate}}</p>
      </div>
      <div class="buttons-container">
        <button class="export">
          <mat-icon svgIcon="export"></mat-icon>
        </button>
        <button class="heart">
          <mat-icon svgIcon="heart"></mat-icon>
        </button>
        <button class="large_rounded_btn">{{'job_offer_button_apply'|translate|uppercase}}</button>
      </div>
    </div>
    <div class="com-mark-wrapper">
      <div class="com-mark-container">
        <img class="com-mark" src="/assets/images/com_mark/google.png">
      </div>
    </div>

    <div class="job-offer-container">
      <div class="row">
        <div class="col-lg-7 col-xl-5 offset-xl-2 description-container">
          <p class="description">{{'job_offer_description'|translate}}</p>
          <p class="career">Product Designer<span>(Full Time)</span></p>
          <p class="com-item">Google Inc - shekh Al Zayed Road, Dubai</p>
          <p class="salary">$35-45,000+Benefits</p>
          <p class="description-content">As the Design Manager for Infrastructure for
            the Project Management Office (PMO) the candidate
            will support the Project Management Consultant
            (PMC) assigned to Early Works and Infrastructure
            in reviewing designs provided by the AEs and design
            firms for infrastructure, utilities, and other early works.
          </p>

          <p class="preffered_candidate">{{'job_offer_preffered_candidates'|translate}}</p>
          <table class="detail">
            <tbody>
              <tr>
                <td>{{'job_offer_career_level'|translate}}</td>
                <td>Entry Level</td>
              </tr>
              <tr>
                <td>{{'job_offer_years_of_experience'|translate}}</td>
                <td>{{'job_offer_min'|translate}}:<span>1</span>
                  {{'job_offer_max'|translate}}:<span>3</span>
                </td>
              </tr>
              <tr>
                <td>{{'job_offer_gender'|translate}}</td>
                <td>Female</td>
              </tr>
              <tr>
                <td>{{'job_offer_nationality'|translate}}</td>
                <td>Lebanon</td>
              </tr>
            </tbody>
          </table>
          <div class="skill-container">
            <p class="skills">{{'job_offer_skills'|translate}}</p>
            <mat-chip-list class="skill-list">
              <mat-chip color="primary" selected *ngFor="let skill of skills">{{skill}}</mat-chip>
            </mat-chip-list>
          </div>
          <div class="requirements-panel">
            <p class="requirement">{{'job_offer_requirements'|translate}}</p>
            <div class="requirement-content">
              <pre>
            1. Assist in developing comprehensive RFPs for Design-Build and contract document deliverables, and
            negotiate scope-of-work, design briefs, deliverables, and price with the A/E.

            2. Assist Project Managers in internal and external design and cost issues.

            3. Manage distribution and production of project workload within the team.

            4. Participate in departmental strategic planning.

            5. Lead and manage design and technical functions associated with the Capital program.

            6. To ensure effective communication and negotiation between all client stakeholders.

            7. To make recommendations on design and technical issues.

            8. To encourage and promote the continuous improvement of working methods including collaborative
            working, partnering, and procurement and project management.

            9. Candidate should be familiar with all Saudi codes and standards, the International Building Code
            (IBC), OmniClass, UniFormat and MasterFormat Specification classifications, and be familiar with
            standards as promoted by both the Royal Institute of British Architects (RIBA) and American institute of
            Architects (AIA). Candidate must be familiar with General Design Criteria and Technical Guidelines,
            standard drawings and standard guide specifications.

            10. Assists in the oversight and review as necessary of A/E contractor design submittals, specifications,
            calculations, as initially reviewed by the PMC, and coordinate work of other disciplines and the
            engineering department of the PMO.

            11. Review the preparation of technical specifications and drawings as needed for bid packages related to
            the development of various sports venues, etc. for design and construction projects.

            12. Assists in the review of vendor drawings and shop drawings and coordinates with the PMO Engineering
            Manager the distribution of these reviews among the various disciplines of the PMO Engineering
            Department.

            13. Performs various engineering calculations, as necessary and/or distributes these tasks to discipline
            engineers on staff with the PMO.

            14. Performs PMO oversight guidance and potential field inspection and field support, as necessary.
          </pre>
            </div>
          </div>
          <p class="benefits">{{'job_offer_benefits'|translate}}</p>
          <div class="row ">
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/health.png">
              </div>
              <p>{{'job_offer_health_insurance'|translate}}</p>
            </div>
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/time.png">
              </div>
              <p>{{'job_offer_flexible_hours'|translate}}</p>
            </div>
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/car.png">
              </div>
              <p>{{'job_ofer_company_car'|translate}}</p>
            </div>
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/scheme.png">
              </div>
              <p>{{'job_offer_share_scheme'|translate}}</p>
            </div>
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/dollar_sack.png">
              </div>
              <p>{{'job_offer_pension_scheme'|translate}}</p>
            </div>
            <div class="col-xs-4 col-sm-2 benefit">
              <div class="benefit-mark">
                <img src="/assets/images/job_offer/gym.png">
              </div>
              <p>{{'job_offer_gym_membership'|translate}}</p>
            </div>
          </div>
          <div class="google-map-container">
            <p class="location-title">{{'job_offer_location'|translate}}</p>
            <p class="location">Sheikh Al Zayed Road,Dubai</p>
            <div class="google-map">
              <agm-map latitude="'51'" longitude="'7.8'" zoom="'5'">
                <agm-marker></agm-marker>
              </agm-map>
            </div>
            <p class="view-google-map">{{'job_offer_google_map'|translate}}</p>
          </div>

        </div>
        <div class="col-lg-5 col-xl-4 offset-xl-1  description-side-container">
          <div class="button-container">
            <button class="large_rounded_btn colored-btn">
              <i class="fa fa-file-text"></i>
              {{'job_offer_button_apply'|translate|uppercase}}
            </button>
          </div>
          <div class="button-container">
            <button class="large_rounded_btn non-colored-btn">
              <i class="fa fa-facebook"></i>
              {{'job_offer_button_share_facebook'|translate|uppercase}}
            </button>
          </div>
          <div class="button-container">
            <button class="large_rounded_btn non-colored-btn">
              <i class="fa fa-twitter"></i>
              {{'job_offer_button_share_twitter'|translate|uppercase}}
            </button>
          </div>
          <div class="button-container">
            <button class="large_rounded_btn non-colored-btn">
              <i class="fa fa-linkedin"></i>
              {{'job_offer_button_share_linkedin'|translate|uppercase}}
            </button>
          </div>
          <p class="job-url">{{'job_offer_job_url'|translate}}</p>
          <div class="job-url-display">
            https://google.com/hrt?re=34&ss=34
            <div class="job-url-copy-btn">
              {{'job_offer_button_copy'|translate}}
            </div>
          </div>
          <div class="checkbox-container">
            <input class="styled-checkbox" id="send-me-similar-job" type="checkbox" value="">
            <label for="send-me-similar-job">{{'job_offer_checkbox_send_me'|translate}}</label>
          </div>
          <div class="more-detail-container">
            <p><span class="more-from">{{'job_offer_more_from'|translate}}</span><span class="com">Google Inc</span></p>
            <div *ngFor="let career of careers" style="margin: 20px 0">
              <p style="margin-bottom: 5px;">
                <span class="career">{{career.career_name}}</span>
                <span class="work-time">({{career.work_time}})</span>
              </p>
              <p class="com-info">{{career.com_info}}</p>
            </div>
          </div>
          <div class="button-container">
            <button class="large_rounded_btn colored-btn">
              <i class="fa fa-file-text"></i>
              {{'job_offer_button_apply'|translate|uppercase}}
            </button>
          </div>
          <p class="looking-for-container">
            <span>{{'job_offer_looking_for'|translate}}</span>
            <a href="#">{{'job_offer_post_job'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="similar-job-container">
    <div>
      <div class="title">{{'job_offer_find_similar_jobs'|translate}}</div>
      <ul class="job-container">
        <li *ngFor="let job of sliceSimilarJobs" class="job">
          <p class="career">{{job.career}}</p>
          <p class="post-time">{{job.post_time}}</p>
          <p class="com-name">{{job.com_name}}</p>
          <div class="info">
            <mat-icon svgIcon="location"></mat-icon>
            <p>{{job.location}}</p>
          </div>
          <div class="info">
            <mat-icon svgIcon="com_type"></mat-icon>
            <p>{{job.career_sector}}</p>
          </div>
          <div class="info">
            <mat-icon svgIcon="salary"></mat-icon>
            <p>${{job.low_salary}} to ${{job.high_salary}} per annum</p>
          </div>

          <div class="com-mark">
            <img [src]="job.com_mark">
          </div>
          <div class="watch-offer">
            <mat-chip color="primary" selected>
              <i class="fa fa-play"></i>
              {{'job_offer_button_watch_offer'|translate}}
            </mat-chip>
          </div>
          <div class="icon-btn-container">
            <div class="icon-btn">
              <mat-icon svgIcon="export"></mat-icon>
            </div>
            <div class="icon-btn">
              <mat-icon svgIcon="heart"></mat-icon>
            </div>
          </div>
        </li>
      </ul>

      <div style="text-align: center; margin-top:50px;">
        <button class="large_rounded_btn">
          {{'job_offer_button_view_them_all'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>