<div class="job-offer">
  <div class="job-offer-photo-container">
    <img src="">
    <div class="job-reference">
      <p class="name">{{'job_offer_job_reference'|translate}}</p>
      <p class="id">JB3760145</p>
    </div>
    <div class="job-offer-title-container">
      <p class="title">Product Designer at Google</p>
      <p class="location"><span class="city">Dubai</span>-<span>United Arab of Emirates</span></p>
      <p>Posted 4 weeks ago</p>
      <button class="large_rounded_btn"><mat-icon>play</mat-icon>{{'job_offer_button_watch_offer'|translate}}</button>
    </div>
    <div class="applicants-container">
      <span class="count">23</span>
      <span>{{'job-offer-applicants'}}</span>
    </div>
    <div class="buttons-container">
      <button></button>
      <button></button>
      <button></button>
    </div>
  </div>
  <div class="job-offer-container">
    <div class="row">
      <div class="col-lg-6 description-container">
          
      </div>
      <div class="col-lg-6 description-side-container">
        
      </div>
    </div>
  </div>
</div>