.chat{
    display: flex;
      height:900px;
    //  overflow:auto;

    .ng-scrollbar-visible{
        padding:0;
    }
    ng-scrollbar {
        --scrollbar-size: 8px;
        --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
        --scrollbar-thumb-hover-color: dodgerblue;
        --scrollbar-border-radius: 4px;
    }
    .members-list-container{
        width:450px;
        .search-container{
            display: flex;
             align-items: center;
             margin:0 0 20px 0;  
             padding: 15px 20px;
             border-bottom: 1px solid rgba(rgb(184, 182, 182), 0.2) ;           
            .search-input{
                flex-grow: 2;
                border:none;
                width:100%;
                padding:10px 20px;
                background-color: white;
                @include custom_font(rgb(41, 39, 39), 18px , 20px , 'galano_grotesque_alt_semi_bold');  
                        
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    @include custom_font(#8E9DC1, 18px , 20px , 'galano_grotesque_alt_semi_bold');   
                }
            }
            i{
                width:50px;
                height:20px;
                font-size:20px;
                cursor: pointer;
                color:$thickblue;
            }
        }

        .tabs{
            width:100%;
            display:flex;        
            justify-content:space-around;
            .tab{
                display: inline;
                padding: 20px 10px;
                cursor:pointer;
                @include custom_font(#5F6773, 16px , 20px , 'galano_grotesque_alt_semi_bold');   
            }
            .tab.select{
                color:$thickblue;
                border-bottom: 2px solid $thickblue;                
            }
        }

        .chat-members-container{
            height:700px;
            .chat-members{              
               list-style: none;    
               padding:0;
               margin-bottom: 0;             
               li{
                  height:100px;
                  display: flex;
                  padding-left:20px;
                  padding-right:10px;
                  justify-content: space-between;
                  align-items: center;
                  cursor: pointer;                 
                  .photo-com-container{
                      width: 47px;
                      height:47px;
                      position: relative;                                  
                      .photo{
                          width:47px;
                          height:47px;
                          border-radius: 50%;                          
                      }
                      .com{
                          width:30px;
                          height:30px;
                          border-radius: 50%;
                          position: absolute;
                          left:8px;
                          top:30px;
                      }
                  }
                  .simple-info-container{
                      width:340px;
                      height:100px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border-bottom: 1px solid rgba(rgb(184, 182, 182), 0.2) ;           
                      .name-message-container{
                          height:40px;
                          width: 270px;   
                          .name{
                            @include custom_font(#09193F, 14px , 20px , 'galano_grotesque_alt_semi_bold');    
                            margin-bottom: 5px
                           } 
                          .message{
                            @include custom_font(#8E9DC1, 16px , 18px , 'galano_grotesque_alt_medium');   
                            margin-bottom:0px;
                            display:inline-block;
                            width:240px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          }                      
                      }
                      .time-container{
                          width:60px;
                          height:40px;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          .dot-line{
                              font-size:5px;
                              color:#8E9DC1;
                              margin-bottom: 8px;
                              text-align: right;
                              i{
                                   margin-right:2px;
                              }
                          }

                          .time{
                              text-align:right;
                              @include custom_font(#8E9DC1, 12px , 18px , 'galano_grotesque_alt_medium');   
                              margin-bottom:3px;
                           }
                      }
                  }
               }

               .member-selected{
                   background-color: $thickblue;
               }
            }
            
        }
    }
    .user-info-container{
        width:250px;
        display:none;
        background-color: $thickblue;
        padding:20px;
        position: relative;
        border-top: 1px solid rgba(white, 0.2);
       .member-photo-container{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 180px;
         .photo{
             margin:0 auto;
             width:94px;
             height:94px;
             border-radius: 50%;             
         }
         .com{
             margin: -30px auto 0 auto;
             width:40px;
             height:40px;
             border-radius: 50%;
             margin-top: -30px;
             box-shadow: 0 2px 3px rgba(grey, 0.3);
             z-index: 99999;
         }
         .name{
             text-align: center;
             margin-bottom: 5px;
            @include custom_font(white, 16px , 18px , 'galano_grotesque_alt_medium');
         }
         .location{
             text-align: center;
            @include custom_font(black, 14px , 18px , 'galano_grotesque_alt_medium');
         }
       }
       .profile-item-list{
           list-style: none;
           padding:0;
           .item{
               margin:20px 0;
               .item-title{
                @include custom_font(#8E9DC1, 14px , 17px , 'galano_grotesque_alt_bold'); 
                margin-bottom: 5px;  
               }
               .item-content{
                @include custom_font(white, 15px , 20px , 'galano_grotesque_alt_regular'); 
                margin-bottom: 5px;    
               }
           }           
       }
       .full-profile-link{
        @include custom_font(white, 14px , 18px , 'galano_grotesque_alt_medium');
        text-decoration: underline;
        cursor: pointer;
       }

       .show-toggle{
           position: absolute;
           left:20px;
           top:20px;
           color:white;
           cursor:pointer;
           font-size: 30px;
       }

    }
    .chatting-panel-container{
        flex-grow:2;
        height:900px;
        border-left: 1px solid #B1BAD9 ; 
        border-right: 1px solid #B1BAD9 ;
        .chatting-panel{
            height:820px;
            background-color: #F3F6FD;
            .message-list{    
                padding:0 40px;
                list-style: none;               
                display: flex;               
                 margin:10px 0;  
                  .message-time{
                      flex-grow:1;  
                      text-align: right;    
                      padding:0 10px;                 
                      .message{
                           padding:10px 30px;
                           display: inline-block;
                           text-align: left;
                            border-radius:0.4em;
                            background-color:#14B9E6;
                            margin: 0;
                            @include custom_font(white, 16px , 29px , 'galano_grotesque_alt_regular');
                           position: relative;
                      }
                      .message:after{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 20px;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        border-left-color: #14B9E6;
                        border-right: 0;
                        margin-top: -6px;
                        margin-right: -6px;
                      }

                      .time{
                          text-align: right;
                          margin-top:10px;
                        @include custom_font(#939393, 12px , 15px , 'galano_grotesque_alt_regular');
                      }
                    
                  }
                  .me{
                      flex-grow:0;     
                      width:45px;
                      height:45px;
                      border-radius: 50%;                      
                  }
            } 
        }       
       .message-sendbox{
           display: flex;
           justify-content: space-between;
           height:80px;
           align-items: center;
         .attact-icon{
             width:50px;
             font-size: 30px;
             text-align: center;
         }
         .message-window{
             height:40px;
             line-height: 40px;
             font-size:18px;
             color:black;
             font-family:  'galano_grotesque_alt_medium' ;
             border:none;
             &::placeholder{
                 color:gray;
                 opacity: 0.7;
                 font-size: 18px;
             } 
             &:focus{
                outline: none;
             }        
         }
         .send-icon{
             color:$thickblue;
             font-size: 25px;
             height:32px;
             width:32px;
             border-radius: 50%;
             background-color: $thickblue;
             display: flex;
             align-items: center;
             justify-content: center;
             color:white;
             margin-right:30px;
             cursor:pointer;
         }
       }
    }

}