.company-profile{
    .com-img{
        width:100%;  
        height: 400px;     
        overflow:hidden;
        display: flex;       
        align-items: center;
        justify-content: center;
        img{ 
            width:1050px;
            height:400px;    
            z-index: -1;     
        }
    }
    .company-profile{
        margin-top:-170px;
        background-color: #F8F7FC;
        border-radius: 15px;       
        box-shadow: 0 0 10px rgba(180,180,180,0.7);
        padding:50px;
        .divider{
            border-bottom: 1px solid rgb(187, 181, 181);
            margin-top:40px ;
            margin-bottom:40px;
        }
        .com-mark-container{
            width:177px;
            height:177px;
            border-radius: 50%;
            padding:20px;
            overflow:hidden;
            background-color:white;
            box-shadow: 0 0 5px rgba(150,150,150,0.7);
            margin-top:-145px;
            margin:-145px auto 30px auto;
            img{
                width:100%;
                height:100%;
                border-radius: 50%;
            }
        }

        .icon-btn-container{
            margin:30px auto 20px auto;
            display:flex;
            height:50px;
            justify-content: center;
            .icon-btn{
                width:47px;
                height:47px;
                border-radius: 50%;
                background-color: white;
                padding:10px ;
                color:$thickblue;
                box-shadow:0 0 5px rgba(150,150,150,0.6);
                mat-icon{
                    font-size: -1rem;
                    width:20px;
                    height:16px;
                }
            }
            .icon-btn:not(:last-child){
                  margin-right:10px;
            }

        }

        .com-overview-conatainer{
            .title{
                @include custom_font($thickblue, 34px , 34px , 'galano_grotesque_alt_semi_bold');   
                margin: 20px 0;
            }
            .overview{
                tr{        
                    td{
                       padding:10px 0;                      
                        @include custom_font(#354052, 14px , 19px , 'galano_grotesque_semi_bold');                         
                   
                    }
                    td:first-child{
                        width:40%; 
                        color:  #8E9DC1;
                        mat-icon{
                              font-size: -1rem;
                              width:14px;
                              height:15px;
                              margin-right:6px;
                        }
                    }
                }
            }
        }

        .company-video-tutorial-container{
          .company-video{
            margin-top:35px;
            @include custom_font(#354052, 14px , 19px , 'galano_grotesque_alt_semi_bold');
            mat-icon{
                font-size: -1rem;
                width:14px;
                height:15px;
                margin-right:10px;
            }   
          }  
          .company-video-tutorial{
            @include custom_font(#354052, 16px , 29px , 'galano_grotesque_alt_regular');
          }
          .video{
              width:100%;
              height:214px;
              border:1px solid gray;
          }
          
        }

        .about_us_container{
            .about-us{
                text-align: center;
                @include custom_font(#354052, 18px , 29px , 'galano_grotesque_alt_semi_bold');  
            }
            .about-us-content{
                @include custom_font(#354052, 16px , 20px , 'galano_grotesque_alt_regular');  
            }
            // .specialities{
            //     margin-top:20px;
            //     @include custom_font(#354052, 18px , 29px , 'galano_grotesque_alt_semi_bold');  
            // }
            // .sepecialities-content{
            //     @include custom_font(#354052, 16px , 20px , 'galano_grotesque_alt_regular');  
            // }
        }

        .cultural_container{
              .cultural-insights{
                @include custom_font(#354052, 18px , 29px , 'galano_grotesque_alt_semi_bold');  
                text-align:center;
                margin-top:40px;
              }
              .cultural-insights-content{                  
                  display:flex;
                  flex-wrap: wrap;
                  justify-content: center;                  
                  .item{
                      margin-top:40px;
                      margin-bottom: 40px;
                    width:380px;                    
                    text-align: center;
                    padding:50px 50px;
                    background-color:$thickblue;
                    border-radius: 15px;
                    margin-right:20px;
                      p{
                          margin-bottom: 50px;
                        @include custom_font(white, 16px , 19px , 'galano_grotesque_alt_bold');    
                      }
                      .label-container{
                         margin-top:30px;
                         display: flex;
                         flex-wrap: wrap;  
                                               
                         .color-label{
                            margin:8px 12px;
                            @include custom_font(white, 13px , 14px , 'galano_grotesque_alt_medium');    
                            .color-panel{
                                width:12px;
                                height:12px;
                                border-radius: 3px;
                                margin-right: 5px;                                
                                display: table;
                                float:left;

                            }
                         }
                      }
                  }   
                  .item::last-child{
                      margin-right: 0
                  }            
              }
        }
        
        .job-listing-container{
            .job-listing{
                @include custom_font(#354052, 18px , 29px , 'galano_grotesque_alt_semi_bold');  
                text-align:center;
                margin-top:40px;
            }

            .job-listing-content{                  
                display:flex;
                flex-wrap: wrap;
                justify-content: center; 
                
                .item-wrapper{
                    position: relative;
                    margin:10px 5px;
                    width:380px;
                    height:146px;                    
                    border-radius: 15px;
                    box-shadow: 0 0 5px rgba(180,180,180,0.7);
                    padding:25px 15px;
                    .item-content{
                        width:100%;
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        .item-side{
                            width:80px;                       
                            text-align: center;
                            margin-right:10px;
                            position: relative;   
                            mat-icon{
                                width:80px;
                                height:80px; 
                                                      
                                   color:$thickblue;
                                   font-size:80px;                               
                            }
                            .com-img-side{
                                position: absolute;
                                width:38px;
                                height:38px;
                                padding:5px;
                                background-color: white;
                                border-radius: 50%;
                                top:22px;
                                left:-10px;
                                box-shadow: 0 2px 3px rgba(150,150,150,0.6);
                                img{
                                    width:100%;
                                    height:100%;
                                }
                            }
                                                                      
                        }
                        .item-body{
                            width:240px;                           
                            .career-time{
                                margin-bottom: 5px;  
                                .career{
                                    @include custom-font($thickblue, 18px, 18px, 'galano_grotesque_semi_bold' );
                                    margin-right:4px;                                                      
                                }
                                .time{
                                    @include custom-font(#8E9DC1, 10px, 10px, 'galano_grotesque_alt_medium' );                              
                                }    
                            }
                           
                            .com-name{
                                @include custom-font(#15181D, 14px, 14px, 'galano_grotesque_alt_medium' );                              
                                margin-bottom: 4px;  
                            }
                            .com-content{
                                @include custom-font(#536BA5, 12px, 15px, 'galano_grotesque_alt_medium' );  
                                height:30px;
                                @include multiLineEllipsis($lineHeight: 15px, $lineCount: 2, $bgColor: white);
                                margin-bottom: 5px; 
                                  text-justify: inter-word;             
                            }  
                            .salary{
                                @include custom-font(#354052, 14px, 15px, 'galano_grotesque_alt_medium' );
                                .svg-icon{
                                    vertical-align: middle; 
                                    margin-right:10px;  
                                    color:  #2766FF   ;     
                                     width:15px !important;  
                                     height:18px !important; 
                                     font-size: 11px;            
                                }
                            }
                        }
                    }
    
                    .ico-wrapper{
                      position: absolute;
                      top:10px;
                      right:7px;
                      mat-icon{
                        vertical-align: middle; 
                        margin-right:4px;  
                         color:  #D4DAE2 ;     
                                 
                      }
                      .icon-export{
                        width:15px !important;  
                        height:18px !important; 
                        font-size: 11px;   
                      }
                      .icon-heart{
                        width:17px !important;  
                        height:18px !important; 
                        font-size: 13px; 
                      }
                    }
                }
                
            }
        }

    }

    .other-com-container{
      padding: 80px 0 50px 0;
      .title{
          text-align: center;
          margin: 80px 0;
          @include custom_font(#1C2B4F, 54px , 54px , 'galano_grotesque_alt_bold'); 
      }
      .other-com-list-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        .job-item-container{
            width:206px;
            height:245px;
            padding:0px 10px;    
            .job-item{
                background-color: #F6F7FC;
                box-shadow: 0 0 6px rgba(rgb(150, 141, 141), 0.7);
            border-radius: 20px;
            overflow: hidden;
            text-align: center;
            padding:25px 0;
            cursor:pointer;
            .com-mark{
                    width:113px;
                    height:113px;
                    margin:0 auto;
                    border-radius: 50%;
                    box-shadow: 0 1px 3px gray;       
                img{
                    width:100%;
                    height:100%;                                              
                }
            }
            .com-name{
                margin-top:5px;
                @include custom_font(#091636, 18px, 22px ,'galano_grotesque_alt_medium');
            }
            .count{
                margin-top:20px;
                span{                          
                    padding:5px 15px;
                    border-radius: 12px;
                    background-color: $thickblue;
                    @include custom_font(white, 16px, 19px ,'galano_grotesque_alt_semi_bold');
                }
            }

            &:focus{
                outline: none;
            }
            }
        }
      }
      
    .large_rounded_btn{
        background-color: white;
        color: $thickblue;
        border:2px solid $thickblue;
        margin: 40px auto;      
    }
       

    }


 /*  ::::::::::::::::::::::::::::::::::::::::::::::::::::
    Bootstrap 4 breakpoints
*/

  /* phone devices (xs) */  
  @media (min-width: 576px) {  
    
  }
   
  /* small devices ( sm) */
  @media (min-width: 576px) {  
   
  }
   
  /* md devices ( md) */
  @media (min-width: 768px) {  
    .com-img{       
        height:400px;  
        img{
            width:1050px;
            height:400px;
        }
    }
    .company-profile{
        margin-top:-150px;
    }
  }
  

  /* lg devices (lg) */
  @media (min-width: 992px) { 
    .com-img{       
        height:500px;  
        img{
            width:100%;
            height:500px;
        }
    }
    .company-profile{
        margin-top:-200px;
    }
  }
  /* lg devices (xs) */
  @media (min-width: 1200px) { 
    .com-img{       
        height:610px;  
        img{
            width:100%;
            height:100%;
        }
    }
    .company-profile{
        margin-top:-250px;
    }
  }

  /*  :::::::::::::::::::::::::::::::::::::::::::::::::::*/
}

