.create-vcv-profession{
    padding: 90px 60px;
    .title{
        text-align: center;
        margin:30px 0 10px 0;
        @include custom_font(#333333, 32px , 47px , 'galano_grotesque_alt_semi_bold');
    }
    .subject{
        text-align: center;
        max-width: 500px;
        margin:10px auto 30px auto;
        @include custom_font(rgb(185, 185, 230), 16px , 28px , 'galano_grotesque_alt_light');
    }
    .profession-container{
        margin:30px auto;
        border-radius: 15px;
        box-shadow: 0 0 40px rgba(rgb(221, 211, 238), 0.7);
        .profession-header{
            width:100%;
            height:65px;
            border-top-left-radius: 15px;
            border-top-right-radius:15px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            background-color:$thickblue;
            padding: 0 30px;
            .container-title{
                display: flex;
                align-items: center;
                mat-icon{   
                    font-size:0rem;
                     margin-right:10px;
                     color:white;
                }  
                span{
                    @include custom_font(white, 22px , 28px , 'galano_grotesque_alt_light');
                }              
            }
            .ctrl{
                color:white;
                font-size: 25px;
            }
        }
        .profession-body{
            width:100%;
            // height:660px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius:15px;            
            overflow: auto;
            ul.profession-list{
                padding:0;
                list-style: none;
                height:660px;              
                li{
                    border-top: 1px solid rgba(#dfe5f0, 0.7);
                    border-bottom: 1px solid rgba(#dfe5f0, 0.7);
                    display: flex;
                    padding:0 30px;
                    height:60px;
                    justify-content: space-between;
                    align-items: center;
                    .profession-name{
                        display: inline-flex;
                        height:60px;
                         align-items: center;
                         i{
                             font-size: 13px;
                             color:$thickblue;
                             opacity:0;
                             margin-right:20px;
                         }
                         span{
                            @include custom_font(rgb(159, 181, 211), 16px , 28px , 'galano_grotesque_alt_medium');  
                         }
                    }
                    .checkbox-container{
                        display: flex;
                        width:300px;
                        height:60px;
                        justify-content: space-between;
                        align-items: center;
                        .checkbox-item{
                            display: flex;
                            align-items: center;
                            .styled-checkbox {
                                // position: absolute; // take it out of document flow
                                opacity: 0; // hide it
                                
                                & + label {
                                position: relative;
                                cursor: pointer;
                                padding: 0px;
                                margin-bottom:0px;
                                @include custom_font(rgb(159, 181, 211), 14px , 28px , 'galano_grotesque_alt_medium');  
                                }
                            
                                // Box.
                                & + label:before {
                                content: '';
                                margin-right: 10px;
                                margin-top:-3px;
                                display: inline-block;
                                vertical-align: text-top;
                                width: 20px;
                                height: 20px;
                                background: white;
                                border:1px solid #DDE1E4;
                                border-radius: 4px;
                                }
                            
                                // Box hover
                                &:hover + label:before {
                                // background: #f35429;
                                }
                                
                                // Box focus
                                &:focus + label:before {
                                // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                                }
                            
                                // Box checked
                                &:checked + label:before {
                                background: #306cf2;
                                }
                                
                                        
                                // Checkmark. Could be replaced with an image
                                &:checked + label:after {
                                content: '';
                                position: absolute;
                                left: 5px;
                                top: 12px;
                                background: white;
                                width: 2px;
                                height: 2px;
                                box-shadow: 
                                    2px 0 0 white,
                                    4px 0 0 white,
                                    4px -2px 0 white,
                                    4px -4px 0 white,
                                    4px -6px 0 white,
                                    4px -8px 0 white;
                                transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pagination{
            display: flex;
            justify-content: space-between;
           align-items: center;
           width:70px;
           height: 30px;
           i{
               font-size: 10px;
               color:rgb(187, 180, 180);
               cursor: pointer;
           }
           i.selected{
               color: $thickblue;
               font-size: 14px;
           }
        }
    }
}