

.title_in_footer{
    @include custom_font($thickblue, 14px, 22px, 'galano_grotesque_alt_bold');
    margin-bottom: 10px;
}
.footer{
    width: 100%;
    .content_1{
        width:100%;
        background-image: url('assets/images/footer_back.png');
        background-size: 100% 100%;
        padding: 40px 14%;
       
        ul{
            list-style: none;
            padding: 0;
            display: table;      
            content:inherit;
            margin: 0;
            li{
                float: left;
                display: inline;
                margin: 8px 20px;
                .span-text{
                    @include custom_font($white, 18px, 36px , 'galano_grotesque_alt_medium') ;  
                    margin-left: 10px;          
                }

                .country-selectbox-wrapper{
                    width:320px;
                    background-color: #306cff;
                    border-radius: 25px;
                    box-shadow: 0 0 20px rgb(39, 37, 37);
                }
            }

           
        }
        
    }
    .content_2{
        padding: 80px 10%;
        .content_2_1{
           
            .country{
                text-align: left;
                margin: 10px 0;
                img{
                    width: 26px;
                    height:26px;
                    margin-right: 8px;
                }
                a{
                    cursor: pointer;
                    @include custom_font(#082771, 15px, 26px, 'galano_grotesque_alt_semi_bold');
                }
                
            }
            hr{
                border-bottom: 1px solid $thinpurple;
                width:98%;
                margin: 30px auto;
            }
        }
        .content_2_2{            
            margin:22px 0;
            .content_2_2_1{
                margin-bottom: 50px; 
                .description_nysm{
                    @include custom_font($thinblue , 18px, 31px, "galano_grotesque_alt_regular");
                }
            }
            .content_2_2_2{
                margin-bottom:20px;
                .description_nysm{
                    @include custom_font($thinblue , 18px, 31px, "galano_grotesque_alt_regular");
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{
                         float: left;
                         display: inline;
                         margin-right: 10px;
                         a{
                             cursor: pointer;
                         }
                    }
                }
            }

            .content_2_2_3{
                margin-bottom:40px;
                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{ 
                         a{
                             cursor: pointer;
                             @include custom_font($thinpurple , 18px, 31px, "galano_grotesque_alt_regular");
                         }
                    }
                }
            }
            .content_2_2_4{
                margin-bottom:20px;
                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{                          
                             cursor: pointer;
                             @include custom_font($thinpurple , 18px, 31px, "galano_grotesque_alt_regular");
                    }
                }
            }
            hr{
                border-bottom: 1px solid $thinpurple;
                width:98%;
                margin: 30px auto;
            }
        }

        .content_2_3{            
            margin:22px 0;
            ul{
                list-style:none;
                display: table;
                li{
                    margin: 0 23px;
                    display:inline;
                    a{
                        cursor: pointer;                        
                    }
                }
            }
            
            .reserved_text{
                text-align: center;
                margin-top: 40px;
                @include custom_font($thinpurple , 16px ,24px , "galano_grotesque_alt_medium");
            }
           
        }
        
    }
}

// multi-select css


    
