

.title_in_footer{
    @include custom_font($thickblue, 14px, 22px, 'galano_grotesque_alt_bold');
    margin-bottom: 10px;
}
.footer{
    width: 100%;
    .content_1{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
        background-image: url('assets/images/footer_back.png');
        background-size: 100% 100%;
        padding: 40px 0;
            .connect-item{
               display: inline-block;               
                margin: 15px 20px;
                text-align: center;
                .span-text{
                    @include custom_font($white, 18px, 36px , 'galano_grotesque_alt_medium') ;  
                    margin-left: 10px;          
                }               
            }
            .country-selectbox-wrapper{
                width:288px;
                background-color: #306cff;
                border-radius: 25px;
                margin: 15px 20px;
                text-align: center;
                // box-shadow: 0 0 20px rgb(39, 37, 37);
                .location-select{
                    width:100%;
                    .cu-select-wrapper{
                        box-shadow: 0 1px 10px #29458b;
                        background-color: #306cff;
                        select:required:invalid {
                            opacity: 0.5;
                        }
                        .selectbox{
                            color:white;

                        }
                        .mark-icon{
                            color:white;
                        }
                        .direction-icon{
                            color:white;
                            background-color:#306cff; 
                        }
                    }
                }
            }
       
           
       
        
    }
    .content_2{
        padding: 80px 10%;
        .content_2_1{
           
            .country{
                text-align: left;
                margin: 10px 0;
                img{
                    width: 26px;
                    height:26px;
                    margin-right: 8px;
                }
                a{
                    cursor: pointer;
                    @include custom_font(#082771, 15px, 26px, 'galano_grotesque_alt_semi_bold');
                }
                
            }
            hr{
                border-bottom: 1px solid $thinpurple;
                width:98%;
                margin: 30px auto;
            }
        }
        .content_2_2{            
            margin:22px 0;
            .content_2_2_1{
                margin-bottom: 50px; 
                .description_nysm{
                    @include custom_font($thinblue , 18px, 31px, "galano_grotesque_alt_regular");
                }
            }
            .content_2_2_2{
                margin-bottom:20px;
                .description_nysm{
                    @include custom_font($thinblue , 18px, 31px, "galano_grotesque_alt_regular");
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{
                        
                         display: inline;
                         margin-right: 10px;
                         a{
                             cursor: pointer;
                             i{
                                 color:#A1B3DF;
                             }
                         }
                    }
                }
            }

            .content_2_2_3{
                margin-bottom:40px;
                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{ 
                         a{
                             cursor: pointer;
                             @include custom_font($thinpurple , 18px, 31px, "galano_grotesque_alt_regular");
                         }
                    }
                }
            }
            .content_2_2_4{
                margin-bottom:20px;
                ul{
                    list-style: none;
                    padding: 0;
                    display: table;
                    li{                          
                             cursor: pointer;
                             @include custom_font($thinpurple , 18px, 31px, "galano_grotesque_alt_regular");
                    }
                }
            }
            hr{
                border-bottom: 1px solid $thinpurple;
                width:98%;
                margin: 30px auto;
            }
        }

        .content_2_3{            
            margin:22px 0;
            ul{
                list-style:none;
                display: table;
                width:100%;
                padding:0;
                li{
                    margin: 0 23px;
                    display:inline;
                    a{
                        cursor: pointer;                        
                    }
                }
                @media(max-width:1600px){
                    li{
                        display: block;
                        text-align: center;
                        margin:5px 0;
                    }
                }

            }
            
            .reserved_text{
                text-align: center;
                margin-top: 40px;
                @include custom_font($thinpurple , 16px ,24px , "galano_grotesque_alt_medium");
            }
           
        }
        
    }
}

// multi-select css


    
