.header1{    
      padding: 24px 0;
      width: 100%;
      // background-color:$thickblue;       
  .main-menu-section{
   padding-left: 12%;
   .nav-item{
       &:hover{
           color: white;
       }
   } 
  }
  
  .logo{
      text-align: right;
  }
  
  .log-menu-section{
      padding-left: 30%;  
      a.nav-item.nav-link{
          padding-right:20px;
          padding-left:20px;
      } 
      a:hover{
          background-color: $thingreen;
          border-radius: 20px;
          color: $linkblue;
          box-shadow: 1px 1px 5px rgb(34, 39, 109);
      } 
  
      span{
          color:$thinblue;
          font-size: 14px;
          line-height: 17px;
          margin: 5px 5px;
          font-family: 'galano_grotesque_alt_regular';
          padding-top:5px;
      }
      span:first-of-type{
          margin-left: 20px;
          cursor: pointer;
      }
      span.lang_selected{
          color:$thingreen;         
      }    
      span:last-child{
          cursor:pointer;
      }
  }
  
}
  