.icon-menu {
    cursor: pointer;
}
#left-sidebar {
    background-color: #2766FF !important;
    color: #fff !important;
}
#left-sidebar .navbar-brand span {
    color: #fff !important;
}
.user-account {
    color: #fff !important;
}

.metismenu a {
    color: #fff !important;
}