.header1{         
      width: 100%;
      padding: 15px 3px;
      position: relative;
      // background-color:$thickblue;
      

  .main-menu-section{  
   .nav-item{
       padding :8px 10px;
       a:hover{
           color: white;
           text-decoration: none;
       }
    } 
  }
  
 
  .log-menu-section{ 
    .nav-item{
     padding :8px 10px;         
      
       a{
         text-decoration:none; 
         color:white;
       } 

      span{
          color:$thinblue;
          font-size: 14px;
          line-height: 17px;
          margin: 5px 5px;
          font-family: 'galano_grotesque_alt_regular';
          padding-top:5px;
      }
      span:first-of-type{
          margin-left: 20px;
          cursor: pointer;
      }
      span.lang_selected{
          color:$thingreen;         
      }    
      span:last-child{
          cursor:pointer;
      }

      &:not(:last-child):hover{
        background-color: $thingreen;
        border-radius: 20px;        
        box-shadow: 1px 1px 5px rgb(34, 39, 109);   
        a{
            color:$thickblue;
        }     
      }
    }
  }


  .nav_toggle_btn{
    position: absolute;
     cursor:pointer;
     top:25px;
     right:20px;
     display: none;
     color:white;
     font-size: 30px;
    }
    @media screen and (max-width: 992px) {
        .row{
            .main-menu-section{
                li:not(:first-child) {display: none;}
            } 
        }
        .row{
            .log-menu-section{
                li{
                    display: none;
                }
            }
        }
        .nav_toggle_btn {          
            display: block;
        }  
    }

    @media screen and (max-width: 992px) {        
        .row.responsive{
            .main-menu-section{
                li{
                    display: block;
                }
            }
        }
        .row.responsive{
            .log-menu-section{
                li{
                    display: block;
                }
            }
        }
    }
  
}
  