
div.login-div{
    width:100%;  
    min-height: 1100px;  
    padding : 43px 0%; 
    background-image: url("/assets/images/signup/bg.png")  ; 
    background-size: 100% 100%;
    .content{
       width:100%;
       max-width: 500px;
       margin: 0 auto;
        .input-style{
            width:100%;
            background-color: rgba(34,27,68, 0.5);           
            height:56px;
            border-radius: 3px;           
            @include custom_font(white , 16px, 19px, 'galano_grotesque_alt_medium');
            border: none;
            margin: 5px auto 20px auto;
            display: block;
            padding-left:25px;
            &:focus{
                outline: none;
            } 
            &::placeholder{
                color:white;
                font-family: 'galano_grotesque_alt_medium';
                opacity: 0.3;
            }       
        }
        hr{
            width:100%;
            max-width: 380px;            
            margin: 28px auto;
            height: 1px;
            background-color: rgba(41, 33, 83, 0.2);
        }
        .sign-up-header-container{
            width: 100%;
            text-align: center;            
            .title{
                @include custom_font($white, 36px,43px,'galano_grotesque_alt_medium');                
            }
            .subtitle{
                text-align: center;
              .subtitle-script{
                @include custom_font(rgb(204, 198, 198), 16px,19px,'galano_grotesque_alt_regular');                
              }  
              .subtitle-sign-up{
                  margin-left: 10px;
                text-decoration: underline;
                cursor: pointer;
                @include custom_font($thickgreen, 17px,18px,'galano_grotesque_alt_regular');                
              }
                
            }
        }
        .sign-up-container{ 
            background-color: rgba(47, 33, 119, 0.5);
            width:100%;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(black, 0.5);
            padding:60px 0;
             margin-top:45px;

             .sign-up-input-container{
                 width: 100%;
                 max-width: 400px;
                 margin: 0 auto;
                 .title{
                    @include custom_font($thickgreen, 16px,17px,'galano_grotesque_alt_medium');                  
                    margin-bottom: 23px;
                 }
                .sign-up-button-box{
                    margin-top:40px;                    
                    display: flex;
                    justify-content: space-around;

                    button{
                        width: 170px;
                        @include button-inverse-variant($thickblue,18px, $thickgreen, 30px, 10px, 40px, $thickgreen);
                        box-shadow: 0 1px 7px  rgb(37, 24, 49);
                        font-family: "galano_grotesque_alt_semi_bold";
                    }
                    .resend{
                        cursor: pointer;
                        @include custom_font($thickgreen, 16px,30px,'galano_grotesque_alt_medium');                  
                       text-decoration: underline;                       
                    }                       
                }  
                .forgot-password-test{
                    text-align: right;
                    margin-bottom: 10px;
                    a{
                        cursor: pointer;
                        @include custom_font($thickgreen, 14px,17px,'galano_grotesque_alt_medium');  
                    }
                }  
                label{   
                        @include custom_font($thickgreen, 14px,17px,'galano_grotesque_alt_medium');  
                    
                } 
                        
             }

             .styled-checkbox {
                position: absolute; // take it out of document flow
                opacity: 0; // hide it
                
                & + label {
                position: relative;
                cursor: pointer;
                padding: 0px;
                }
            
                // Box.
                & + label:before {
                content: '';
                margin-right: 10px;
                margin-top:-3px;
                display: inline-block;
                vertical-align: text-top;
                width: 20px;
                height: 20px;
                background: white;
                border:1px solid #DDE1E4;
                border-radius: 4px;
                }
            
                // Box hover
                &:hover + label:before {
                // background: #f35429;
                }
                
                // Box focus
                &:focus + label:before {
                // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                }
            
                // Box checked
                &:checked + label:before {
                background: #154297;
                }
                
                        
                // Checkmark. Could be replaced with an image
                &:checked + label:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 6px;
                background: white;
                width: 2px;
                height: 2px;
                box-shadow: 
                    2px 0 0 white,
                    4px 0 0 white,
                    4px -2px 0 white,
                    4px -4px 0 white,
                    4px -6px 0 white,
                    4px -8px 0 white;
                transform: rotate(45deg);
                }
            }

        }

        .script{
            margin-top: 30px;
            text-align: center;
            @include custom_font($thickgreen, 14px,16px,'galano_grotesque_alt_regular');    
        }
        .social-container{
            margin: 10px auto;
            width:300px;
           display: flex;
           justify-content: center;
           align-items: center;
           .social-item{
               cursor: pointer;
               width:50px;
               height:50px;
               border-radius: 50%;
               background-color: white;
               display: flex;
               font-size: 20px;
               color:$thickblue;
               justify-content: center;
               align-items: center;
               margin: 10px;
               box-shadow: 0 2px 3px rgba(rgb(58, 66, 94), 0.5);
           }
        }

        
    }
}