
div.signup{
    width:100%;  
    height: 1100px; 
    padding : 43px 0%; 
    background-image: url("/assets/images/signup/bg.png")  ; 
    background-size: 100% 100%;
    .content{
       width:100%;
       max-width: 500px;
       margin: 0 auto;
        .input-style{
            width:100%;
            background-color: rgba(34,27,68, 0.5);            
            height:56px; 
            border-radius: 3px;                   
            @include custom_font(white , 16px, 19px, 'galano_grotesque_alt_medium');
            border: none;
            margin: 15px auto;
            display: block;
            padding-left:25px;
            &:focus{
                outline: none;
            } 
            &::placeholder{
                color:white;
                font-family: 'galano_grotesque_alt_medium';
                opacity: 0.3;
            }       
        }
        hr{
            width:100%;
            max-width: 380px;            
            margin: 28px auto;
            height: 1px;
            background-color: rgba(41, 33, 83, 0.2);
        }
        .sign-up-header-container{
            width: 100%;
            text-align: center;            
            .title{
                @include custom_font($white, 36px,43px,'galano_grotesque_alt_medium');                
            }
            .subtitle{
                text-align: center;
              .subtitle-script{
                @include custom_font(rgb(204, 198, 198), 16px,19px,'galano_grotesque_alt_regular');                
              }  
              .subtitle-sign-up{
                  margin-left: 10px;
                text-decoration: underline;
                cursor: pointer;
                @include custom_font($thickgreen, 17px,18px,'galano_grotesque_alt_regular');                
              }
                
            }
        }
        .sign-up-container{ 
                background-color: rgba(47, 33, 119, 0.5);
                width:100%;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(black, 0.5);
                padding:60px 0;
                margin-top:45px;

             .sign-up-input-container{
                 width: 100%;
                 max-width: 400px;
                 margin: 0 auto;
                 .title{
                    @include custom_font($thickgreen, 16px,17px,'galano_grotesque_alt_medium');                  
                    margin-bottom: 23px;
                 }
                 .alert{
                     height: 30px;
                     width: 100%;
                    @include custom_font(rgb(194, 104, 104), 14px,30px,'galano_grotesque_alt_medium');                  
                 }
                .sign-up-button-box{
                    margin-top:40px;
                    text-align: center;
                    button{
                        width: 170px;
                        @include button-inverse-variant($thickblue,18px, $thickgreen, 30px, 10px, 40px, $thickgreen);
                        box-shadow: 0 1px 7px  rgb(37, 24, 49);
                        font-family: "galano_grotesque_alt_semi_bold";
                    } 
                    .resend{
                        cursor: pointer;
                        @include custom_font($thickgreen, 16px,30px,'galano_grotesque_alt_medium');                  
                       text-decoration: underline;
                       
                    }                   
                }  
                
                // style for phone code input
                .btn{
                    background-color: rgba(34,27,68, 0.5);            
                    height: 56px;
                    color: white;
                    
                    border: 1px solid rgba(34,27,68, 0.5);
                     .defaultCountry{
                         width:0;
                     }
                    .arrow-down{
                       border-top: 5px solid #eee;
                       margin-left: 0px;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                input.form-control{
                    background-color: rgba(34,27,68, 0.5);            
                    height: 56px;
                    color: white;                   
                    border: 1px solid rgba(34,27,68, 0.5);
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        color:white;
                        font-family: 'galano_grotesque_alt_medium';
                        opacity: 0.3;
                    }    
                }

                .selectdiv{
                    width: 100%;
                    .selectbox{
                        border-radius: 3px;
                        width: 100%;
                        background-color: rgba(34,27,68, 0.5);            
                        height: 56px;
                        color: white;
                        border: 1px solid rgba(34,27,68, 0.5);
                        padding-left: 25px;
                        font-family: 'galano_grotesque_alt_medium';
                        -sebkit-appearance: none;
                        -moz-appearance:none;
                        appearance: none;

                        &:focus{
                            outline:none;
                        }
                        
                       option{
                           padding-left: 25px;
                       }
                    }
                }

             }

        }

        .script{
            margin-top: 30px;
            text-align: center;
            @include custom_font($thickgreen, 14px,16px,'galano_grotesque_alt_regular');    
        }

        
    }
}