<div class="emailconfirm_page">
  <div class="content container">
     <img class="mark" src="assets/images/emailconfirm/img1.png">
     <div class="title">{{'email_confirm_title'|translate}}</div>
     <div class="abstruct">{{'email_confirm_subject'|translate}}</div>
     <div class="link-text">
       <span>{{'email_confirm_link_alarm'|translate}}</span>
       <span><a href=""> {{'email_confirm_link'|translate}}</a></span>
     </div>
     <mat-icon class="close-icon">close</mat-icon>
  </div>
</div>
