<div class="emailconfirm_page">
  <div class="content">
     <img class="mark" src="assets/images/emailconfirm/img1.png">
     <div class="title">{{'emailconfirm_page.title'|translate}}</div>
     <div class="abstruct">{{'emailconfirm_page.abstruct'|translate}}</div>
     <div class="link-text">
       <span>{{'emailconfirm_page.link_alarm'|translate}}</span>
       <span><a href=""> {{'emailconfirm_page.link'|translate}}</a></span>
     </div>
     <mat-icon class="close-icon">close</mat-icon>
  </div>
</div>
