<div class="dashboard-page">
  <div class="record-video-bar">
    <span class="description">
      {{'dashboard_page.recordbar'|translate}}
    </span>
    <button>
      <mat-icon>video_call</mat-icon>
      <span>{{'button.recordvcv'|translate}}</span>
    </button>
  </div>
  <div class="content_1">
    <div class="title">{{'dashboard_page.content1.title'|translate}}</div>
    <div class="content_1_1 row">
      <div class="col-sm-12 col-md-4" *ngFor="let job of jobs" style="margin: 15px 0;">
        <div class="inc-mark"><img [src]="job.url"></div>
        <div class="des">
          <div class="career">{{job.career}}</div>
          <div class="inc-name">{{job.inc_name}}</div>
          <div class="nat-name">{{job.nat_name}}</div>
        </div>
      </div>
    </div>
    <div class="content_1_2">
      <button class="large_rounded_btn viewthemall ">{{'button.viewthemall'|translate}}</button>
    </div>
  </div>
  <div class="content_2">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="content_2_1">
          <div class="title">{{'dashboard_page.content2.title1'|translate}}</div>
          <div class=" content_2_1_1 row">
            <div class="col-sm-12 col-md-4" *ngFor="let job of recommendJobs">
              <div class="content">
                <div class="career">{{job.career}}</div>
                <div class="inc-name">{{job.inc_name}}</div>
                <div class="nat-name">{{job.nat_name}}</div>
                <div class="inc-mark"><img [src]="job.url"></div>
                <div class="watchBtn">
                  <button><img src="../../../assets/images/icon/play2.png">{{'button.watchoffer'|translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content_2_1_2">
            <button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="content_2_2">
          <div class="title"> {{'dashboard_page.content2.title2'|translate}}</div>
          <div class="content_2_2_1 row">
            <div class="col-sm-12 col-md-6 member-wrapper" *ngFor="let member of pagedMemberItem">
              <div class="member">
                <img [src]="member.photoUrl" class="photo">
                <div class="name">{{member.name}}</div>
                <div class="career">{{member.career}}</div>
                <div class="item">
                  <span>{{'information.experience'|translate}}:</span>
                  <span class="detail"> {{member.experience}}</span>
                </div>
                <div class="item">
                  <span>{{'information.studies'|translate}}:</span>
                  <span class="detail">{{member.studies}}</span>
                </div>
                <div class="item">
                  <span>{{'information.age'|translate}}:</span>
                  <span class="detail">{{member.age}}</span>
                </div>
                <div class="item">
                  <span>{{'information.country'|translate}}:</span>
                  <span class="detail">{{member.country}}</span>
                </div>
                <div class="item">
                  <span>{{'information.languages'|translate}}:</span>
                  <span class="detail">{{member.languages}}</span>
                </div>
                <div class="watch-button">
                  <button><img src="../../../assets/images/icon/play3.png">{{'button.watchvcv'|translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content_2_2_2">
            <app-pager [currentIndexOfArray]="memberPager.currentIndexOfArray" (setpager)="setMemberPager($event)"></app-pager>
          </div>
          <div class="content_2_2_3">
            <button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_3">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 content_3_1">
        <div class="content">
          <div class="title">{{'dashboard_page.content3.title1'|translate}}</div>
          <div class="content_3_1_1">
            <div class="company" *ngFor="let company of pagedCompanyItem">
              <img [src]="company.url" class="photo">
              <span>{{company.inc_name}}</span>
            </div>
          </div>
          <div class="content_3_1_2">
            <app-pager [currentIndexOfArray]="CompanyPager.currentIndexOfArray" (setpager)="setCompanyPager($event)"></app-pager>
          </div>
          <div class="content_3_1_3">
            <button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 content_3_2">
        <div class="content">
          <div class="title">{{'dashboard_page.content3.title2'|translate}}</div>
          <div class="row content_3_2_1">
            <div class="col-md-6" *ngFor="let jobBranch of pagedJobBranchItem " style="padding: 8px;">
              <div class="main_body" [style.background-image]="'url('+jobBranch.url+')'">
                <div *ngIf="jobBranch.branch!=''" class="branch_name"><span>{{jobBranch.branch}}</span></div>
                <div><button class="small_rounded_btn" [ngClass]="jobBranch.branch ===''?'coca':''">{{'button.apply'|translate}}</button></div>
              </div>
            </div>
          </div>
          <div class="content_3_2_2">
            <app-pager [currentIndexOfArray]="jobBranchPager.currentIndexOfArray" (setpager)="setJobBranchPager($event)"></app-pager>
          </div>
        </div>
      </div>
    </div>
    <div class="content_4">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 content_4_1">
          <div class="content-body">
            <div class="title">{{'dashboard_page.content4.title1'|translate}}</div>
            <div class="subtitle">
              <span class="key">{{'dashboard_page.content4.sub_title1'|translate}}</span>
              <span class="value">{{totalViews}}</span>
            </div>
            <app-linechart *ngIf="xJobChartData.length>0" [xdata]="xJobChartData" [ydata]="yJobChartData" [height]="jobChartHeight" [color]="jobChartColor"></app-linechart>
            <div class="checkbox-wrapper">
              <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="">
              <label for="styled-checkbox-1">{{'dashboard_page.content4.checkbox_label'|translate}}</label>
            </div>
            <div><button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 content_4_2">
          <div class="content-body">
            <div class="title">{{'dashboard_page.content4.title2'|translate}}</div>
            <div class="profile-mark">
              <img src="../../../assets/images/dashboard/profile.png">
            </div>
            <div class="message">
                  {{'dashboard_page.content4.sub_title2'|translate}}
            </div>
            <div><button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 content_4_3">
          <div class="content-body">
            <div class="title">{{'dashboard_page.content4.title3'|translate}}</div>
            <div class="subtitle">
              <span class="key">{{'dashboard_page.content4.sub_title3'|translate}}</span>
              <span class="value">{{totalSearches}}</span>
            </div>
            <app-linechart *ngIf="xSearchChartData.length>0"  [xdata]="xSearchChartData" [ydata]="ySearchChartData" [height]="searchChartHeight" [color]="searchChartColor"></app-linechart>
            <div class="checkbox-wrapper">
              <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="">
              <label for="styled-checkbox-2">{{'dashboard_page.content4.checkbox_label'|translate}}</label>
            </div>
            <div><button class="large_rounded_btn viewthemall">{{'button.viewthemall'|translate}}</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>