@mixin custom_font($color, $font_size, $line_height, $font_family) {
    color:$color;
    font-size: $font_size;
    line-height: $line_height;
    font-family:$font_family;
}


// multiline long text ellipsis
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    // text-align: left;
    // margin-right: -1em;
    // padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
