<div class="find-jobs-by-sector container">
  <div class="content-1">
    <div class="title">Most Common Job in U.A.E</div>
    <div class="select-wrapper row">
      <div class="col-sm-12 col-md-6" style="margin-bottom:10px;">
        <app-custom-select class="country-select" [placeholder]="'select Country'" [datas]="country_list" [icon_name]="'flag'"></app-custom-select>
      </div>
      <div class="col-sm-12 col-md-6" style="margin-bottom:10px;" >
        <app-custom-select class="city-select" [placeholder]="'select City'" [datas]="city_list" [icon_name]="'house'"></app-custom-select>
      </div>
    </div>
    <div class="row content-1-body">
      <div class="col-sm-6 col-md-3 item-wrapper" *ngFor="let job of sliceJobs">
        <div class="item-photo"><img [src]="job.photo"></div>
        <div class="item-title"><p>{{job.title|uppercase}}</p></div>
        <div class="item-count"><span>{{job.count}}{{'fjbs_script_jobs'|translate|uppercase}}</span></div>
      </div>
    </div>
    <div style="text-align: center;" ><button class="large_rounded_btn" (click)="onViewAllJob()">{{'btn_view_them_all'|translate}}</button></div>
  </div>
  <div class="content-2">
    <div class="title">{{'fjbs_title2'|translate}}</div>
    <div class="job-field-container" *ngFor="let jobField of allJobField">
      <div class="job-field-side">
           <div class="job-field-name">{{jobField.eachData.field}}</div>
           <div class="job-mark-photo"><img [src]="jobField.eachData.mark_photo"></div>
      </div>
      <div class="job-field-title-container">
            <div class="job-title-wrapper">
              <div *ngFor="let item of jobField.slicetitles" class="name">{{item}}</div>
            </div>
            <button class="small_rounded_btn">{{'btn_view_them_all'|translate}}-></button>
      </div>
    </div>
     
  </div>
</div>