@import "../../../assets/fonts.scss";
.single-chart {
    width: 100%;
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
    stroke-linecap: round;
  }
  
  .circle {
    fill: none;
    stroke-width: 4.1;
    stroke-linecap: round;
     animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  
  .percentage-text {
    fill: #8E9DC1;
    font-family: 'galano_grotesque_alt_light';
    font-size:0.45em;
    text-anchor: middle;
  }

  .level-text {
    fill: #8E9DC1;
    font-family: 'galano_grotesque_alt_bold';
    font-size:0.2em;
    text-anchor: middle;
  }
  .script-text {
    color: #8E9DC1;
    font-family: 'galano_grotesque_alt_regular';
    font-size: 14px;
   line-height: 16px;
    width: 85%;
    margin:0 auto;
    text-align: center;
  }
}